Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

.lintstagedrc.json:

{
    "*.js": [ "npx eslint --fix", "npx prettier --write" ],
    "*.css": [ "npx prettier --write" ],
    "*.rb": [ "bundle exec rubocop -a" ],
    "*.erb": [ "npx @herb-tools/linter --fix" ]
}

Add copy topic details and show topic name
  app/controllers/topics_controller.rb
  app/javascript/controllers/overlay_controller.js
  app/views/topics/_copy_topic_details.html.erb
  app/views/topics/_copy_topic_overlay.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Display topic fields in modal
  app/views/topics/_copy_topic_details.html.erb
Due: npx @herb-tools/linter --fix

forward email notification address correctly
  app/controllers/courses_controller.rb
  app/views/general_mailer/Course_Invite_Notification.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

send notification email once
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

did the same for lecturers as well
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

Show current template fields at the bottom of the overlay
  app/controllers/topics_controller.rb
  app/views/topics/_copy_topic_details.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

chore: Remove unused JS file
  app/javascript/project_template_fields.js
  app/javascript/project_templates.js
Due: npx eslint --fix, npx prettier --write

fix: HTML tags
  app/javascript/project_template_fields.js
  app/views/project_templates/_field_row.html.erb
  app/views/project_templates/_option_section.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

fix: Project templates option
  app/javascript/project_template_fields.js
  app/views/project_templates/_field_row.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

style: Make footer shorter
  app/views/shared/_footer.html.erb
Due: npx @herb-tools/linter --fix

style: Make project and topic cards smaller
  app/views/courses/_coordinator_section.html.erb
Due: npx @herb-tools/linter --fix

style: Attachment link layout
  app/views/courses/show.html.erb
Due: npx @herb-tools/linter --fix

styling: Topics
  app/views/topics/_topic_actions.html.erb
  app/views/topics/_topic_comments.html.erb
  app/views/topics/_topic_header.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

styling: Topic fields
  app/views/topics/_topic_fields.html.erb
Due: npx @herb-tools/linter --fix

styling: Topic details page
  app/views/topics/_topic_actions.html.erb
  app/views/topics/_topic_fields.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

styling: Topic page touch up
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

fix: Topics page height
  app/views/topics/_topic_fields.html.erb
  app/views/topics/index.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

fix: Delete template fields
  app/javascript/project_template_fields.js
  app/views/project_templates/_field_row.html.erb
  app/views/project_templates/edit.html.erb
  app/views/topics/edit.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

styling: Edit Topic touch up
  app/views/topics/edit.html.erb
Due: npx @herb-tools/linter --fix

Dropdown for user to select which field to copy from
  app/views/topics/_copy_topic_details.html.erb
Due: npx @herb-tools/linter --fix

styling: View Topics page
  app/views/topics/index.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

fix: Topics search
  app/controllers/topics_controller.rb
Due: bundle exec rubocop -a

styling: Create Topic page
  app/controllers/topics_controller.rb
  app/views/topics/new.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

fixed user relation and removed auto recounting of lecturer workload
  Gemfile
  app/controllers/courses_controller.rb
  app/models/user.rb
Due: bundle exec rubocop -a

styling: Add Lecturers page
  app/views/courses/add_lecturers.html.erb
Due: npx @herb-tools/linter --fix

Show value of the field we are copying from
  app/javascript/controllers/overlay_controller.js
  app/views/topics/_copy_topic_details.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

styling: Touch up Add Students page
  app/views/courses/add_students.html.erb
Due: npx @herb-tools/linter --fix

styling: Touch up Edit Project Templates page
  app/javascript/project_template_fields.js
  app/views/project_templates/_field_row.html.erb
  app/views/project_templates/edit.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

styling: Remove focus ring
  app/views/project_templates/edit.html.erb
Due: npx @herb-tools/linter --fix

styling: Use minmax responsive grid on profile pages
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/profile.html.erb
  app/views/lecturers/show.html.erb
  app/views/topics/index.html.erb
Due: npx @herb-tools/linter --fix

responsive styling on mobile
  app/views/projects/_project_header.html.erb
  app/views/topics/_topic_header.html.erb
Due: npx @herb-tools/linter --fix

Made Button for Create Project Based on Topic
  app/controllers/projects_controller.rb
  app/views/projects/new.html.erb
  app/views/topics/_topic_fields.html.erb
  app/views/topics/show.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

lint
  app/controllers/projects_controller.rb
  app/views/projects/new.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Grammatical Error lel
  app/views/topics/_topic_fields.html.erb
Due: npx @herb-tools/linter --fix

styling: Edit Profile
  app/views/user/profile.html.erb
  config/breadcrumbs.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Mobile styling touch up
  app/views/projects/_project_details.html.erb
  app/views/projects/_project_fields.html.erb
  app/views/projects/_project_header.html.erb
  app/views/topics/_topic_header.html.erb
Due: npx @herb-tools/linter --fix

styling: Mobile view
  app/views/projects/_project_comments.html.erb
Due: npx @herb-tools/linter --fix

styling: Fix mobile view again
  app/views/projects/_project_comments.html.erb
  app/views/topics/_topic_comments.html.erb
  app/views/topics/_topic_fields.html.erb
Due: npx @herb-tools/linter --fix

testing linter flags
  Gemfile
  Gemfile.lock
  app/controllers/courses_controller.rb
  db/seeds.rb
Due: bundle exec rubocop -a

feat: Add auto resize controller
  app/javascript/controllers/textarea_resize_controller.js
Due: npx eslint --fix, npx prettier --write
