Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: proposals/topics styling
  CONTEXT.md
  ProPro_Design/course_show.html.erb
  app/javascript/controllers/collapsible_sections_controller.js
  app/views/courses/_overview_tab.html.erb
  app/views/courses/_section_header.html.erb
  app/views/courses/_to_review_tab.html.erb
  app/views/courses/_topic_card.html.erb
  app/views/courses/_topic_card_contents.html.erb
  app/views/courses/_topic_directory_tab.html.erb
  app/views/courses/show.html.erb
  app/views/lecturers/show.html.erb
  app/views/projects/_proposal_list_item.html.erb
  app/views/shared/_row_item.html.erb
  app/views/shared/_row_list.html.erb
  app/views/topics/_copy_topic_overlay.html.erb
  app/views/topics/index.html.erb
  docs/course_tab_plan.md
  docs/courses_overview_refactor_plan.md
  test/system/courses/course_tabs_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: course tab styling + restructuring the tabs
  ProPro_Design/course_show.html.erb
  ProPro_Design/style_guide.html.erb
  app/controllers/courses_controller.rb
  app/javascript/controllers/collapsible_sections_controller.js
  app/javascript/controllers/tabs_controller.js
  app/presenters/overview_presenter.rb
  app/views/courses/_overview_tab.html.erb
  app/views/courses/_supervised_projects_tab.html.erb
  app/views/courses/_to_review_tab.html.erb
  app/views/courses/show.html.erb
  docs/course_tab_plan.md
  docs/courses_overview_refactor_plan.md
  test/controllers/courses_controller_test.rb
  test/system/courses/course_tab_persistence_test.rb
  test/system/courses/course_tabs_test.rb
  test/system/courses/tmp_fill_probe_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: added responsiveness to the tabs header
  CONTEXT.md
  app/helpers/breadcrumb_helper.rb
  app/javascript/controllers/tabs_controller.js
  app/views/courses/show.html.erb
  app/views/shared/_header.html.erb
  app/views/shared/_row_item.html.erb
  app/views/shared/_sidebar.html.erb
  docs/course_tab_plan.md
  docs/short_group_search_plan.md
  test/system/courses/tmp_fill_probe_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: switching from tabs to cookies for persistence
  app/controllers/progress_updates_controller.rb
  app/helpers/projects_helper.rb
  app/helpers/topics_helper.rb
  app/javascript/controllers/tabs_controller.js
  app/views/courses/show.html.erb
  app/views/progress_updates/edit.html.erb
  app/views/progress_updates/show.html.erb
  app/views/projects/_project_header.html.erb
  app/views/projects/show.html.erb
  app/views/shared/_row_item.html.erb
  docs/shortcut_group_search_plan.md
  docs/tabs_to_cookies_refactor_plan.md
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: added '/' shortcut plus refactor cookies
  CONTEXT.md
  app/javascript/controllers/search_shortcut_controller.js
  app/javascript/controllers/tabs_controller.js
  app/views/courses/_groups_tab.html.erb
  app/views/courses/_students_section.html.erb
  app/views/courses/show.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

linter
  app/views/courses/_groups_tab.html.erb
  app/views/courses/_students_section.html.erb
Due: npx @herb-tools/linter --fix

feat: changed tabs styling
  app/views/courses/show.html.erb
  app/views/projects/_project_header.html.erb
  app/views/projects/show.html.erb
Due: npx @herb-tools/linter --fix

feat: added expand on search/filter + resend email on groups table as well
  app/views/courses/_group_row.html.erb
  app/views/courses/_groups_table.html.erb
Due: npx @herb-tools/linter --fix

linter
  app/views/courses/_group_row.html.erb
  app/views/courses/_groups_table.html.erb
  app/views/courses/_sort_header.html.erb
Due: npx @herb-tools/linter --fix

feat: topics redesign
  .opencode/skills/grill-with-docs/SKILL.md
  app/javascript/controllers/comments_drawer_controller.js
  app/javascript/controllers/dropdown_controller.js
  app/javascript/controllers/tab_fade_controller.js
  app/javascript/controllers/tabs_controller.js
  app/javascript/controllers/version_select_controller.js
  app/views/topics/_compare_versions_tab.html.erb
  app/views/topics/_context_header.html.erb
  app/views/topics/_review_action_bar.html.erb
  app/views/topics/_review_actions.html.erb
  app/views/topics/_topic_comments.html.erb
  app/views/topics/_topic_fields.html.erb
  app/views/topics/_topic_overview.html.erb
  app/views/topics/_topic_review_card.html.erb
  app/views/topics/show.html.erb
  test/system/topics/change_status_test.rb
  test/system/topics/topic_versioning_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  test/system/topics/change_status_test.rb
Due: bundle exec rubocop -a

fix: recovered commits
  CONTEXT.md
  app/helpers/breadcrumb_helper.rb
  app/views/courses/_sort_header.html.erb
  app/views/projects/_project_header.html.erb
  app/views/shared/_header.html.erb
  docs/design_refactor_plan.md
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: redesigned topics/show
  app/helpers/breadcrumb_helper.rb
  app/javascript/controllers/mobile_tabs_controller.js
  app/javascript/controllers/version_select_controller.js
  app/views/topics/_compare_versions_tab.html.erb
  app/views/topics/_context_header.html.erb
  app/views/topics/_review_action_bar.html.erb
  app/views/topics/_review_actions.html.erb
  app/views/topics/_topic_comments.html.erb
  app/views/topics/_topic_field_list.html.erb
  app/views/topics/_topic_fields.html.erb
  app/views/topics/_topic_header.html.erb
  app/views/topics/_topic_overview.html.erb
  app/views/topics/_topic_review_card.html.erb
  app/views/topics/show.html.erb
  docs/topics_show_refactor_plan.md
  test/system/topics/change_status_test.rb
  test/system/topics/topic_versioning_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

topics/edit and topics/new styling
  CONTEXT.md
  app/javascript/controllers/copy_topic_controller.js
  app/views/topics/_copy_topic_details.html.erb
  app/views/topics/_copy_topic_overlay.html.erb
  app/views/topics/_template_fields.html.erb
  app/views/topics/edit.html.erb
  app/views/topics/new.html.erb
  docs/adr/0012-copy-topic-dialog-shared-controllers.md
  docs/topics_forms_refactor_plan.md
  test/system/topics/copy_topic_dialog_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

topics/edit and topics/new styling
  app/javascript/controllers/copy_topic_controller.js
Due: npx eslint --fix, npx prettier --write

feat: remove duplication of new_tailwindcss
  app/assets/stylesheets/application.css
  app/assets/stylesheets/backup_courses.css
  app/assets/stylesheets/lecturers.css
  app/assets/stylesheets/new_tailwind.css
  app/assets/stylesheets/project_templates.css
  app/assets/stylesheets/projects.css
  app/views/courses/add_lecturers.html.erb
  app/views/courses/add_students.html.erb
  app/views/courses/new.html.erb
  app/views/courses/profile.html.erb
  app/views/courses/settings.html.erb
  app/views/courses/show.html.erb
  app/views/homescreen/show.html.erb
  app/views/lecturers/show.html.erb
  app/views/passwords/new.html.erb
  app/views/progress_updates/edit.html.erb
  app/views/progress_updates/new.html.erb
  app/views/progress_updates/show.html.erb
  app/views/project_groups/index.html.erb
  app/views/project_templates/edit.html.erb
  app/views/projects/show.html.erb
  app/views/sessions/new.html.erb
  app/views/static_pages/about.html.erb
  app/views/static_pages/privacy_policy.html.erb
  app/views/static_pages/terms_of_service.html.erb
  app/views/topics/index.html.erb
  app/views/topics/show.html.erb
  app/views/user/new_staff.html.erb
  app/views/user/new_student.html.erb
  app/views/user/profile.html.erb
Due: npx prettier --write, npx @herb-tools/linter --fix

added in @themes and switched course/show to use it now
  app/assets/stylesheets/courses.css
  app/assets/tailwind/application.css
  app/views/courses/_topic_directory_tab.html.erb
  app/views/courses/show.html.erb
  app/views/layouts/application.html.erb
  app/views/passwords/edit.html.erb
  app/views/shared/_header.html.erb
  app/views/shared/_row_item.html.erb
  app/views/shared/_sidebar.html.erb
  app/views/user/new_staff.html.erb
  app/views/user/new_student.html.erb
Due: npx prettier --write, npx @herb-tools/linter --fix

feat: scroll lock header and the tabs/sidebar
  ProPro_Design/topics_directory.html.erb
  app/assets/tailwind/application.css
  app/views/courses/show.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_header.html.erb
  app/views/shared/_sidebar.html.erb
  docs/course_tab_plan.md
  test/system/tabs_sticky_test.rb
Due: npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: sidebar scroll fix
  ProPro_Design/topics_directory.html.erb
  app/assets/tailwind/application.css
  app/helpers/application_helper.rb
  app/views/courses/show.html.erb
  app/views/projects/show.html.erb
  app/views/shared/_header.html.erb
  app/views/shared/_row_item.html.erb
  app/views/shared/_sidebar.html.erb
  app/views/topics/show.html.erb
  test/controllers/courses_controller_test.rb
  test/system/tabs_sticky_test.rb
Due: npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: topics directory styling
  CONTEXT.md
  ProPro_Design/course_show.html.erb
  ProPro_Design/style_guide.html.erb
  ProPro_Design/topics_directory.html.erb
  app/controllers/courses_controller.rb
  app/javascript/controllers/expandable_rows_controller.js
  app/models/topic.rb
  app/views/courses/_groups_table.html.erb
  app/views/courses/_section_header.html.erb
  app/views/courses/_topic_card.html.erb
  app/views/courses/_topic_directory_tab.html.erb
  app/views/courses/_topics_by_supervisor_list.html.erb
  app/views/courses/_topics_section.html.erb
  app/views/shared/_row_item.html.erb
  docs/adr/0013-topics-directory-browse-first-in-real-tab.md
  docs/adr/0014-available-badge-page-local-not-a-status.md
  docs/topics_directory_refactor_plan.md
  test/controllers/courses_controller_test.rb
  test/models/topic_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: designed hardcoded mockup for course/show various states
  ProPro_Design/course_show.html.erb
Due: npx @herb-tools/linter --fix

feat: sidebar menu on desktop collapsable/expandable
  app/assets/tailwind/application.css
  app/controllers/courses_controller.rb
  app/helpers/application_helper.rb
  app/helpers/sidebar_helper.rb
  app/javascript/controllers/expandable_rows_controller.js
  app/javascript/controllers/scroll_spy_controller.js
  app/javascript/controllers/sidebar_controller.js
  app/views/courses/profile.html.erb
  app/views/layouts/application.html.erb
  app/views/lecturers/show.html.erb
  app/views/shared/_footer.html.erb
  app/views/shared/_header.html.erb
  app/views/shared/_sidebar.html.erb
  app/views/shared/_sidebar_nav_item.html.erb
  docs/adr/0009-app-sidebar-desktop-collapse.md
  docs/course_tab_plan.md
  docs/sidebar_collapsable_plan.md
  test/controllers/courses_controller_test.rb
  test/system/projects/project_show_responsive_test.rb
  test/system/sidebar_collapse_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

styled empty states project details and My submissions
  ProPro_Design/SVG/3 SCENE.svg:Zone.Identifier
  ProPro_Design/SVG/7 SCENE.svg:Zone.Identifier
  ProPro_Design/course_show_no_projectdetails_coordinator.html.erb
  ProPro_Design/course_show_no_projectdetails_students.html.erb
  app/assets/images/illustrations/project_details_banner.svg
  app/assets/images/illustrations/submission_empty_banner.svg
  app/controllers/courses_controller.rb
  app/javascript/controllers/sidebar_controller.js
  app/presenters/overview_presenter.rb
  app/views/courses/_my_submission_empty_state.html.erb
  app/views/courses/_overview_tab.html.erb
  app/views/courses/_project_details_card.html.erb
  app/views/courses/_project_details_tab.html.erb
  app/views/courses/_project_status_bar.html.erb
  docs/courses_overview_refactor_plan.md
  test/presenters/overview_presenter_test.rb
  test/system/courses/course_tab_persistence_test.rb
  test/system/courses/course_tabs_test.rb
  test/system/courses/overview_tab_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/views/courses/_add_students_modal.html.erb
  app/views/courses/_course_card.html.erb
  app/views/courses/_groups_table.html.erb
  app/views/courses/_lecturers_section.html.erb
  app/views/courses/_people_tab.html.erb
  app/views/courses/_section_header.html.erb
  app/views/courses/_student_row.html.erb
  app/views/courses/_students_table.html.erb
  app/views/courses/_topics_by_supervisor_list.html.erb
  app/views/courses/_topics_section.html.erb
  app/views/project_groups/index.html.erb
  app/views/shared/_empty_state.html.erb
  app/views/shared/_footer.html.erb
  app/views/styleguide/show.html.erb
Due: npx @herb-tools/linter --fix

linter
  test/integration/homescreen_cards_render_test.rb
Due: bundle exec rubocop -a

linter
  app/policies/course_policy.rb
Due: bundle exec rubocop -a

linter
  app/controllers/courses_controller.rb
  app/javascript/controllers/email_domain_form_handler_controller.js
  app/models/enrolment.rb
  app/views/courses/_course_email_domain_restrict_form.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

fix: revert back the group table is only confirmed groups to ALL groups and waiting for grouping feature
  app/controllers/courses_controller.rb
  db/seeds.rb
  test/controllers/courses_controller_test.rb
Due: bundle exec rubocop -a

rails version bump and postgres migration
  .ruby-version
  Gemfile
  Gemfile.lock
  config/database.yml
Due: none

updated bundler
  Gemfile.lock
Due: none

gemfile issue again
  Gemfile.lock
Due: none

updated github workflow
  .github/workflows/ci.yml
Due: none

why test no green?
  .github/workflows/ci.yml
Due: none

yes
  .github/workflows/ci.yml
Due: none

pls just work
  .github/workflows/ci.yml
Due: none

yesyes
  .github/workflows/ci.yml
Due: none

gave workflow file the correct pgpassword env
  .github/workflows/ci.yml
Due: none

Path conditions:
  npx eslint --fix: any of: *.js
  npx prettier --write: (any of: *.js) or (any of: *.css)
  bundle exec rubocop -a: any of: *.rb
  npx @herb-tools/linter --fix: any of: *.erb
