Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

.lintstagedrc.json:

{
    "*.js": [ "npx eslint --fix", "npx prettier --write" ],
    "*.css": [ "npx prettier --write" ],
    "*.rb": [ "bundle exec rubocop -a" ],
    "*.erb": [ "npx @herb-tools/linter --fix" ]
}

feat: Project groups index page works now
  app/controllers/project_groups_controller.rb
  app/javascript/controllers/grouping_settings_controller.js
  app/views/project_groups/index.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: Add warning banner when grouping is toggled off
  app/javascript/controllers/grouping_settings_controller.js
  app/views/project_groups/_modal_new_group.html.erb
  app/views/project_groups/index.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Visual feedback for enforcing student_list_finalised
  app/models/course.rb
  app/views/project_groups/index.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Use raise instead of errors.add
  app/models/course.rb
Due: bundle exec rubocop -a

Use :base as first argument
  app/models/course.rb
Due: bundle exec rubocop -a

fix: Use update_columns instead
  app/models/course.rb
Due: bundle exec rubocop -a

yesyes
  db/migrate/20260519083247_backfill_supervisor_enrolments_to_lecturer.rb
Due: bundle exec rubocop -a

yesyesyes
  db/migrate/20260519083247_backfill_supervisor_enrolments_to_lecturer.rb
Due: bundle exec rubocop -a

feat: added empty state for groups
  app/controllers/project_groups_controller.rb
  app/views/project_groups/_my_group_panel.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

linting asdadsdads
  app/controllers/project_groups_controller.rb
  app/views/project_groups/_my_group_panel.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: added migration for project_group_invites, updated model methods, wrote tests
  .gitignore
  app/models/project_group.rb
  app/models/project_group_invite.rb
  app/policies/project_group_invite_policy.rb
  app/policies/project_group_policy.rb
  app/views/project_groups/_group_card.html.erb
  db/migrate/20260531093000_create_project_group_invites.rb
  db/schema.rb
  test/factories/project_group_invites.rb
  test/models/project_group_invite_test.rb
  test/models/project_group_student_actions_test.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

temp
  app/controllers/projects_controller.rb
  app/models/project_group.rb
  app/models/project_group_invite.rb
  app/views/projects/_proposal_method.html.erb
  test/models/project_group_invite_test.rb
  test/models/project_group_student_actions_test.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

temp 2
  app/views/projects/_proposal_method.html.erb
Due: npx @herb-tools/linter --fix

fixed the auto submission to allow only lecturer id
  app/controllers/projects_controller.rb
  app/views/projects/_proposal_method.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: readded the fix for the filters
  app/controllers/courses_controller.rb
  app/controllers/participants_controller.rb
  docs/STUDENT_GROUPING_ARCHITECTURE.md
  docs/STUDENT_GROUPING_CRUD_TASKS.md
  docs/STUDENT_GROUPING_REFERENCE.md
Due: bundle exec rubocop -a

fix: added supervised_by so it doesnt 404
  app/controllers/courses_controller.rb
  app/controllers/participants_controller.rb
Due: bundle exec rubocop -a

forgor to update the participants controller
  app/controllers/participants_controller.rb
Due: bundle exec rubocop -a

fix: fixed the supervisor_enrolment in update projects where it only finds by lecturer_enrolment_ids NO COORDINATOR ENROLMENT IDS PLEASE
  app/controllers/projects_controller.rb
Due: bundle exec rubocop -a

Update schema.rb
  db/schema.rb
Due: bundle exec rubocop -a

Show only lecturer own topic
  app/controllers/topics_controller.rb
Due: bundle exec rubocop -a

Add 'show all' toggle to copy topic overlay
  app/controllers/topics_controller.rb
  app/views/topics/_copy_topic_overlay.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Fix Topic creation failed error
  app/views/topics/new.html.erb
Due: npx @herb-tools/linter --fix

Revert "Add toggle to copy topic"
  app/controllers/topics_controller.rb
  app/views/topics/_copy_topic_overlay.html.erb
  app/views/topics/new.html.erb
  db/schema.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

To reopen a pr
  app/controllers/topics_controller.rb
  app/views/topics/_copy_topic_overlay.html.erb
  app/views/topics/new.html.erb
  db/schema.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: added auto capacity calculation for supervisors load balancing
  app/controllers/courses_controller.rb
  app/javascript/controllers/supervisor_capacity_controller.js
  app/models/course.rb
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_supervisor_capacity_settings.html.erb
  app/views/courses/settings.html.erb
  db/migrate/20260620135458_add_variable_supervisor_capacity.rb
  db/schema.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Filter approved topics by ownership/coordination
  app/controllers/topics_controller.rb
  app/views/topics/_copy_topic_overlay.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Sync overlay selection to all inputs by field name
  app/javascript/controllers/overlay_controller.js
Due: npx eslint --fix, npx prettier --write

Overwrite everything when copy topic
  app/javascript/controllers/overlay_controller.js
  app/views/topics/_copy_topic_details.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Update copy topic UI
  app/views/topics/_copy_topic_details.html.erb
Due: npx @herb-tools/linter --fix

Add source topic id into project table
  app/models/topic.rb
  db/migrate/20260701144548_add_source_topic_to_topics.rb
  db/schema.rb
Due: bundle exec rubocop -a

Store source topic that is copied from
  app/controllers/topics_controller.rb
  app/javascript/controllers/overlay_controller.js
  app/views/topics/_copy_topic_details.html.erb
  app/views/topics/new.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Show where topic is copy from
  app/views/topics/_topic_header.html.erb
Due: npx @herb-tools/linter --fix

Hide badge from student
  app/views/topics/_topic_header.html.erb
Due: npx @herb-tools/linter --fix

Show difference between topics
  app/views/topics/_source_topic_diff.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

Keep track of which field is copied to
  app/controllers/topics_controller.rb
  app/javascript/controllers/overlay_controller.js
  app/models/project_instance_field.rb
  db/migrate/20260701144548_add_source_topic_to_topics.rb
  db/schema.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a

Improve source topic diff view and permissions
  app/views/topics/_source_topic_diff.html.erb
  app/views/topics/_topic_header.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

Allow auto approval when copying
  app/controllers/courses_controller.rb
  app/controllers/topics_controller.rb
  app/models/course.rb
  app/views/courses/_copy_course_details.html.erb
  app/views/courses/settings.html.erb
  db/migrate/20260701144548_add_source_topic_to_topics.rb
  db/schema.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: dump capacity auto calculate business logic into services
  app/controllers/courses_controller.rb
  app/javascript/controllers/supervisor_capacity_controller.js
  app/models/course.rb
  app/models/enrolment.rb
  app/services/supervisor_capacity_calculator.rb
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_supervisor_capacity_settings.html.erb
  db/migrate/20260620135458_add_variable_supervisor_capacity.rb
  db/schema.rb
  docs/SERVICE_REFACTOR_CANDIDATES.md
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: linked up supervisorcapacityclaculator & updater and wrote tests
  app/controllers/courses_controller.rb
  app/controllers/lecturers_controller.rb
  app/javascript/controllers/supervisor_capacity_controller.js
  app/models/course.rb
  app/services/supervisor_capacity_calculator.rb
  app/services/supervisor_capacity_updater.rb
  app/views/courses/_lecturers.html.erb
  app/views/courses/_supervisor_capacity_settings.html.erb
  app/views/lecturers/_lecturer_card.html.erb
  app/views/lecturers/index.html.erb
  app/views/projects/_proposal_method.html.erb
  db/migrate/20260620135458_add_variable_supervisor_capacity.rb
  test/services/supervisor_capacity_calculator_test.rb
  test/services/supervisor_capacity_updater_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: fixing course/show lecturer capacity bug
  app/controllers/courses_controller.rb
  app/controllers/lecturers_controller.rb
  app/javascript/controllers/supervisor_capacity_controller.js
  app/services/supervisor_capacity_calculator.rb
  app/services/supervisor_capacity_updater.rb
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_flash.html.erb
  test/services/supervisor_capacity_calculator_test.rb
  test/services/supervisor_capacity_updater_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix
