Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

fix: Settle some linting errors
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

Show only topics from course lecturer has access to
  app/controllers/topics_controller.rb
Due: bundle exec rubocop -a

Show topic's course
  app/views/topics/_copy_topic_overlay.html.erb
Due: npx @herb-tools/linter --fix

feat: Update Gemfile
  Gemfile.lock
Due: none

update markdown rendering class
  app/assets/tailwind/application.css
  app/views/progress_updates/new.html.erb
  app/views/projects/_progress_updates.html.erb
  app/views/projects/_project_details.html.erb
  app/views/topics/_topic_fields.html.erb
Due: npx prettier --write, npx @herb-tools/linter --fix

yes yes
  Gemfile
  Gemfile.lock
Due: none

yes yes yes
  bin/bundle
Due: none

yesyesyesyes
  Gemfile.lock
Due: none

yes do as i say
  Gemfile.lock
Due: none

moved bundler for attempt at fallback
  bin/bundle
Due: none

feat: Make linter happy
  app/views/projects/_progress_updates.html.erb
  app/views/projects/_project_details.html.erb
  app/views/projects/_project_edit.html.erb
  app/views/projects/_project_fields.html.erb
  app/views/projects/_project_new.html.erb
  app/views/projects/show.html.erb
  app/views/topics/_topic_fields.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

fix local variable not found bugs
  app/views/projects/_project_fields.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

Stop linter from complaining
  app/views/projects/_project_header.html.erb
  app/views/projects/show.html.erb
Due: npx @herb-tools/linter --fix

feat: First draft markdown diff
  Gemfile
  Gemfile.lock
  app/assets/tailwind/application.css
  app/views/projects/_project_details.html.erb
Due: npx prettier --write, npx @herb-tools/linter --fix

feat: Link user profile
  app/views/projects/_project_header.html.erb
  app/views/topics/_topic_header.html.erb
Due: npx @herb-tools/linter --fix

Try diff on topics
  app/assets/tailwind/application.css
  app/views/projects/_project_details.html.erb
  app/views/topics/_topic_fields.html.erb
  app/views/topics/show.html.erb
  db/seeds.rb
Due: npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

fix: Fix topics diff view
  app/views/projects/_project_details.html.erb
  app/views/topics/_topic_fields.html.erb
Due: npx @herb-tools/linter --fix

Tidy up diff rendering
  app/assets/tailwind/application.css
  app/javascript/controllers/markdown_editor_controller.js
  app/views/projects/_project_details.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: Finish diffing for project fields
  app/assets/tailwind/application.css
  app/views/projects/_project_details.html.erb
  package-lock.json
  package.json
Due: npx prettier --write, npx @herb-tools/linter --fix

Finish diffing for Topic details
  app/assets/tailwind/application.css
  app/views/projects/_project_details.html.erb
  app/views/topics/_topic_fields.html.erb
Due: npx prettier --write, npx @herb-tools/linter --fix

fix markdown rendering on progress update
  app/helpers/markdown_helper.rb
  app/views/projects/_progress_updates.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: Update Promote/Demote coordinator display
  app/views/lecturers/show.html.erb
Due: npx @herb-tools/linter --fix

fix Promote/Demote bug
  app/controllers/lecturers_controller.rb
Due: bundle exec rubocop -a

fix: New proposal double textareas
  app/javascript/controllers/markdown_editor_controller.js
Due: npx eslint --fix, npx prettier --write

Fix diff overflowing on mobile
  app/views/projects/_project_details.html.erb
  app/views/projects/_project_header.html.erb
  app/views/topics/_topic_fields.html.erb
Due: npx @herb-tools/linter --fix

revert
  app/controllers/lecturers_controller.rb
  app/views/lecturers/show.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

fix: added back new_coordinator var in demote/promote lecturer_controller
  app/controllers/lecturers_controller.rb
Due: bundle exec rubocop -a

merge
  Gemfile.lock
Due: none

lint
  app/controllers/courses_controller.rb
  app/controllers/projects_controller.rb
  app/controllers/topics_controller.rb
  test/application_system_test_case.rb
  test/factories/courses.rb
  test/factories/enrolments.rb
  test/factories/project_instances.rb
  test/factories/project_templates.rb
  test/factories/projects.rb
  test/factories/topic_instances.rb
  test/factories/topics.rb
  test/factories/users.rb
  test/models/project_instance_test.rb
  test/models/project_test.rb
  test/models/topic_instance_test.rb
  test/models/topic_test.rb
  test/system/projects/change_status_test.rb
  test/system/projects/project_versioning_test.rb
  test/system/topics/change_status_test.rb
  test/system/topics/topic_versioning_test.rb
  test/test_helper.rb
Due: bundle exec rubocop -a

Fixed frontend for required in edit project templates and in both topics and projects forms (*)
  app/views/project_templates/_field_row.html.erb
  app/views/projects/_project_edit.html.erb
  app/views/projects/_project_new.html.erb
  app/views/topics/edit.html.erb
  app/views/topics/new.html.erb
Due: npx @herb-tools/linter --fix

:)
  app/javascript/controllers/overlay_controller.js
Due: npx eslint --fix, npx prettier --write

lint
  app/controllers/lecturers_controller.rb
  app/javascript/controllers/overlay_controller.js
  app/views/topics/_copy_topic_overlay.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

fix: Dropdown option can be deleted
  Gemfile
  app/javascript/project_template_fields.js
  app/views/project_templates/_option_row_dropdown.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

fix: Radio option delete
  app/views/project_templates/_option_row_radio.html.erb
Due: npx @herb-tools/linter --fix

feat: Make 'redo' and 'rejected' proposals collapsible in Incoming Proposals
  app/views/courses/_coordinator_section.html.erb
Due: npx @herb-tools/linter --fix

feat: Make lecturer section collapsible for Rejected and Redo status in Incoming Proposals
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_lecturer_section.html.erb
Due: npx @herb-tools/linter --fix

fix: Project template field type padding
  app/views/project_templates/_field_row.html.erb
Due: npx @herb-tools/linter --fix

feat: Add join by code form
  app/controllers/courses_controller.rb
  app/views/homescreen/_join_by_code_form.html.erb
  app/views/homescreen/show.html.erb
  config/routes.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

fix: Remove turbo frame
  app/views/homescreen/_join_by_code_form.html.erb
Due: npx @herb-tools/linter --fix

feat: Enroll student on join
  app/controllers/courses_controller.rb
  app/models/course.rb
Due: bundle exec rubocop -a

Path conditions:
  npx eslint --fix: any of: *.js
  npx prettier --write: (any of: *.js) or (any of: *.css)
  bundle exec rubocop -a: any of: *.rb
  npx @herb-tools/linter --fix: any of: *.erb
