Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Fixed issue where having topics enabled will force u to choose a topic, lecturer is now always seen but always pre chosen
  app/controllers/projects_controller.rb
  app/views/projects/_proposal_method.html.erb
  app/views/projects/new.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: added cannot_delete_title_field validation and added tests for all projecttemplate validations
  app/models/project_template_field.rb
  test/factories/courses.rb
  test/factories/project_templates.rb
  test/models/project_template_test.rb
  test/models/topic_instance_test.rb
Due: bundle exec rubocop -a

Save new position into database
  app/controllers/project_template_fields_controller.rb
  app/controllers/project_templates_controller.rb
  app/helpers/project_template_fields_helper.rb
  app/javascript/controllers/sortable_controller.js
  app/javascript/project_template_fields.js
  app/views/project_templates/_field_row.html.erb
  config/routes.rb
  db/migrate/20260417011530_add_position_to_project_template_field.rb
  db/schema.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Change mobile interface to drag-and-drop
  app/javascript/controllers/sortable_controller.js
  app/javascript/project_template_fields.js
  app/views/project_templates/_field_row.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Fix copy template field at the field in the middle
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

Fix ghosting row when dragging
  app/assets/tailwind/application.css
  app/javascript/controllers/sortable_controller.js
  app/views/project_templates/_field_row.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Fix field row become invisible
  app/assets/tailwind/application.css
Due: npx prettier --write

Fix version change not sorted
  app/views/projects/_project_details.html.erb
Due: npx @herb-tools/linter --fix

jsut readded or
  app/views/projects/_proposal_method.html.erb
Due: npx @herb-tools/linter --fix

refactor: moved ensure_title_field creating title field upon callback to course#new controller
  app/controllers/courses_controller.rb
  app/models/project_template.rb
  db/migrate/20260418112235_add_is_project_title_to_project_template_fields.rb
  db/schema.rb
  db/seeds.rb
Due: bundle exec rubocop -a

Add Base.transaction into migration
  db/migrate/20260417011530_add_position_to_project_template_field.rb
Due: bundle exec rubocop -a

feat: Add hint text to topics
  app/views/topics/new.html.erb
Due: npx @herb-tools/linter --fix

feat: Add tab layout on mobile
  app/javascript/controllers/mobile_tabs_controller.js
  app/views/projects/_project_comments.html.erb
  app/views/projects/show.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

trying this out
  app/javascript/controllers/textarea_resize_controller.js
  app/views/projects/_project_comments.html.erb
  app/views/projects/show.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

fix: Comments textarea collapsing
  app/javascript/controllers/textarea_resize_controller.js
  app/views/projects/show.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

fix: Diff on topics
  app/views/topics/_topic_fields.html.erb
Due: npx @herb-tools/linter --fix

feat: Tabbed layout on topics for mobile
  app/views/topics/_topic_comments.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

Fix spacing on mobile
  app/views/projects/_project_fields.html.erb
  app/views/projects/_project_header.html.erb
  app/views/projects/show.html.erb
  app/views/topics/_topic_header.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

fix: Scroll stimulus controller on mobile
  app/javascript/controllers/scroll_to_bottom_controller.js
  app/views/projects/show.html.erb
  app/views/topics/show.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

fix more spacing
  app/views/topics/_topic_comments.html.erb
Due: npx @herb-tools/linter --fix

More spacing issues fixes
  app/views/topics/_topic_comments.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

Hid lecturer when solo_supervisor
  app/views/projects/_proposal_method.html.erb
Due: npx @herb-tools/linter --fix

fix: Move Project Actions above tabs on mobile
  app/views/projects/show.html.erb
Due: npx @herb-tools/linter --fix

Hide Project Actions div on small screens for lecturers
  app/views/projects/show.html.erb
Due: npx @herb-tools/linter --fix

3 tabs
  app/javascript/controllers/mobile_tabs_controller.js
  app/views/projects/show.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

spacing
  app/views/projects/_project_fields.html.erb
Due: npx @herb-tools/linter --fix

Fix weird spacing
  app/views/projects/_project_header.html.erb
  app/views/topics/_topic_fields.html.erb
  app/views/topics/_topic_header.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

Add if check in case of nil
  app/views/projects/show.html.erb
Due: npx @herb-tools/linter --fix

feat: migration
  app/controllers/courses_controller.rb
  app/controllers/projects_controller.rb
  app/controllers/topics_controller.rb
  app/javascript/project_template_fields.js
  app/models/project_instance.rb
  app/models/project_template.rb
  app/views/courses/_copy_course_details.html.erb
  app/views/project_templates/_field_row.html.erb
  app/views/project_templates/_new_field.html.erb
  db/migrate/20260418112235_add_is_project_title_to_project_template_fields.rb
  db/schema.rb
  db/seeds.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

refactor: moved ensure_title_field creating title field upon callback to course#new controller
  app/controllers/courses_controller.rb
  app/models/project_template.rb
  db/migrate/20260418112235_add_is_project_title_to_project_template_fields.rb
  db/seeds.rb
Due: bundle exec rubocop -a

feat: render flash for pop msg for project templates/edit
  app/views/courses/_flash.html.erb
  app/views/project_templates/edit.html.erb
Due: npx @herb-tools/linter --fix

feat: added create group slots
  app/controllers/courses_controller.rb
  app/javascript/controllers/grouping_settings_controller.js
  app/models/course.rb
  app/views/courses/_grouping_preview_result.html.erb
  app/views/courses/_grouping_settings.html.erb
  app/views/courses/settings.html.erb
  config/routes.rb
  db/migrate/20260426065457_add_grouping_settings_to_courses.rb
  db/schema.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: migration for adding confirmed to project_groups and unit tests
  app/controllers/courses_controller.rb
  app/models/course.rb
  app/models/project_group.rb
  app/views/courses/_grouping_preview_result.html.erb
  app/views/courses/_grouping_settings.html.erb
  config/routes.rb
  db/migrate/20260429092127_add_grouping_fields_to_project_groups.rb
  db/schema.rb
  test/factories/project_group_members.rb
  test/factories/project_groups.rb
  test/factories/users.rb
  test/models/course_grouping_settings_test.rb
  test/models/project_group_grouping_test.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: added grouping_open migration on course, and updated validations and methods, and unit testing
  app/models/course.rb
  app/views/courses/_course_code_form.html.erb
  app/views/courses/_grouping_settings.html.erb
  db/migrate/20260426065457_add_grouping_settings_to_courses.rb
  db/schema.rb
  test/models/course_grouping_settings_test.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Drop project_group_slots table
  db/migrate/20260502113207_drop_project_group_slots.rb
  db/schema.rb
Due: bundle exec rubocop -a

Block sending email after apporved proposal is edited by student
  app/controllers/projects_controller.rb
Due: bundle exec rubocop -a

feat: finished rough boilerplate of main grouping page
  .gitignore
  app/controllers/project_groups_controller.rb
  app/models/course.rb
  app/policies/course_policy.rb
  app/policies/project_group_policy.rb
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/_group_list.html.erb
  app/views/project_groups/_grouping_closed.html.erb
  app/views/project_groups/_my_group.html.erb
  app/views/project_groups/_no_group.html.erb
  app/views/project_groups/_ungrouped_students.html.erb
  app/views/project_groups/index.html.erb
  config/routes.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: Coordinator actions controller and models
  app/controllers/project_groups_coordinator_actions_controller.rb
  app/models/project_group.rb
  config/routes.rb
Due: bundle exec rubocop -a

feat: Coordinator grouping actions boilerplate
  app/controllers/project_groups_controller.rb
  app/controllers/project_groups_coordinator_actions_controller.rb
  app/policies/course_policy.rb
  app/views/project_groups/coordinator_actions.html.erb
  config/routes.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Path conditions:
  npx eslint --fix: any of: *.js
  npx prettier --write: (any of: *.js) or (any of: *.css)
  bundle exec rubocop -a: any of: *.rb
  npx @herb-tools/linter --fix: any of: *.erb
