Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

.lintstagedrc.json:

{
    "*.js": [ "npx eslint --fix", "npx prettier --write" ],
    "*.css": [ "npx prettier --write" ],
    "*.rb": [ "bundle exec rubocop -a" ],
    "*.erb": [ "npx @herb-tools/linter --fix" ]
}

Delete info.png
  app/assets/images/info.png
Due: none

Update peer dependency flags in package-lock.json
  package-lock.json
Due: none

Fade in animation when opening overlay
  app/javascript/controllers/overlay_controller.js
  app/views/courses/new.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Add a overlay menu to choose course
  app/javascript/controllers/overlay_controller.js
  app/views/courses/new.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Move overlay into _copy_course_modal
  app/views/courses/_copy_course_modal.html.erb
  app/views/courses/new.html.erb
Due: npx @herb-tools/linter --fix

Show all course as card in overlay
  app/controllers/courses_controller.rb
  app/views/courses/_copy_course_modal.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

chore: small changes to policy method names
  app/policies/course_policy.rb
  app/policies/project_policy.rb
Due: bundle exec rubocop -a

fixed bad query
  app/controllers/lecturers_controller.rb
Due: bundle exec rubocop -a

Adjusted spacing in the _copy_course_modal.html.erb
  app/javascript/controllers/overlay_controller.js
  app/views/courses/_copy_course_modal.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Fix duplicate course showing in overlay
  app/controllers/courses_controller.rb
  app/views/courses/_course_card.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Move copy button to setting and template page
  app/controllers/courses_controller.rb
  app/controllers/project_templates_controller.rb
  app/views/courses/new.html.erb
  app/views/courses/settings.html.erb
  app/views/project_templates/edit.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Make card longer
  app/views/courses/_copy_course_modal.html.erb
Due: npx @herb-tools/linter --fix

chore: Convert to Tailwind
  app/views/project_templates/_new_field.html.erb
  app/views/project_templates/_option_row_dropdown.html.erb
  app/views/project_templates/_option_row_radio.html.erb
Due: npx @herb-tools/linter --fix

Updated AutoFill Code (New now no worky :( )
  app/controllers/lecturers_controller.rb
  app/controllers/projects_controller.rb
  app/views/projects/_project_edit.html.erb
  app/views/projects/_project_new.html.erb
  app/views/projects/edit.html.erb
  app/views/projects/new.html.erb
  config/routes.rb
  package-lock.json
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Get course data when clicking on course card
  app/controllers/courses_controller.rb
  app/javascript/controllers/overlay_controller.js
  app/views/courses/_copy_course_modal.html.erb
  config/routes.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Fix error invoking action "click->overlay#open"
  app/javascript/controllers/overlay_controller.js
Due: npx eslint --fix, npx prettier --write

Made New Autofill work :)
  app/controllers/lecturers_controller.rb
  app/controllers/projects_controller.rb
  app/views/projects/_project_edit.html.erb
  app/views/projects/_project_new.html.erb
  app/views/projects/edit.html.erb
  app/views/projects/new.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Fixed the note message to make more pwetty
  app/views/projects/edit.html.erb
  app/views/projects/new.html.erb
Due: npx @herb-tools/linter --fix

Change _copy_course_modal to _copy_course_overlay
  app/views/courses/_copy_course_details.html.erb
  app/views/courses/_copy_course_overlay.html.erb
  app/views/courses/settings.html.erb
  app/views/project_templates/edit.html.erb
Due: npx @herb-tools/linter --fix

Add mode to course details overlay
  app/controllers/courses_controller.rb
  app/javascript/controllers/overlay_controller.js
  app/views/courses/_copy_course_details.html.erb
  app/views/courses/_copy_course_overlay.html.erb
  app/views/courses/settings.html.erb
  app/views/project_templates/edit.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Show course details after clicking the card
  app/controllers/courses_controller.rb
  app/javascript/controllers/overlay_controller.js
  app/views/courses/_copy_course_details.html.erb
  app/views/courses/_copy_course_modal.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Show all template field in overlay
  app/views/courses/_copy_course_details.html.erb
Due: npx @herb-tools/linter --fix

Add checkbox to setting overlay
  app/views/courses/_copy_course_details.html.erb
Due: npx @herb-tools/linter --fix

Checkbox for template overlay
  app/views/courses/_copy_course_details.html.erb
Due: npx @herb-tools/linter --fix

Changed Warning to be more obvious/signify the danger
  app/views/projects/edit.html.erb
  app/views/projects/new.html.erb
Due: npx @herb-tools/linter --fix

Made warning more obvious/ can be seen more easily
  app/views/projects/edit.html.erb
  app/views/projects/new.html.erb
Due: npx @herb-tools/linter --fix

Setup import course details
  app/controllers/courses_controller.rb
  app/javascript/controllers/overlay_controller.js
  app/views/courses/_copy_course_details.html.erb
  config/routes.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Overlay take source and target course ID
  app/controllers/courses_controller.rb
  app/javascript/controllers/overlay_controller.js
  app/views/courses/_copy_course_overlay.html.erb
  app/views/courses/settings.html.erb
  app/views/project_templates/edit.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Fix undefined local variable 'course'
  app/javascript/controllers/overlay_controller.js
  app/views/courses/_copy_course_details.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Import course details working
  app/controllers/courses_controller.rb
  app/views/courses/_copy_course_details.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Fix duplicate project title and redirect back to template page
  app/controllers/courses_controller.rb
  app/views/courses/_copy_course_details.html.erb
  app/views/project_templates/edit.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Only show course that he is a lecturer or coordinator
  app/controllers/courses_controller.rb
  app/controllers/project_templates_controller.rb
  app/models/course.rb
Due: bundle exec rubocop -a

email notification for existing users
  app/controllers/courses_controller.rb
  app/mailers/general_mailer.rb
  app/views/general_mailer/Course_Invite_Notification.html.erb
  app/views/general_mailer/Course_Invite_Notification.text.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

yes yes
  config/initializers/assets.rb
Due: bundle exec rubocop -a

feat: added docs folder, vision and testing guides
  docs/testing.md
  docs/vision.md
Due: none

Add reuse button on create topic page
  app/views/topics/_copy_topic_overlay.html.erb
  app/views/topics/new.html.erb
Due: npx @herb-tools/linter --fix

Show approved topics inside overlay
  app/controllers/topics_controller.rb
  app/views/topics/_copy_topic_overlay.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Seperate both select event for overlay
  app/javascript/controllers/overlay_controller.js
  app/views/courses/_copy_course_overlay.html.erb
  app/views/topics/_copy_topic_overlay.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Fix reuse button showing on top of top bar
  app/views/courses/_copy_course_overlay.html.erb
  app/views/topics/_copy_topic_overlay.html.erb
Due: npx @herb-tools/linter --fix
