Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

.lintstagedrc.json:

{
    "*.js": [ "npx eslint --fix", "npx prettier --write" ],
    "*.css": [ "npx prettier --write" ],
    "*.rb": [ "bundle exec rubocop -a" ],
    "*.erb": [ "npx @herb-tools/linter --fix" ]
}

fix: extra end lol
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

Add hint text below field title
  app/views/projects/_project_new.html.erb
Due: npx @herb-tools/linter --fix

Show friendly field type label in edit page
  app/javascript/controllers/overlay_controller.js
  app/models/project_template_field.rb
  app/views/courses/_copy_course_details.html.erb
  app/views/project_templates/_field_row.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Update label for new field
  app/javascript/project_template_fields.js
  app/models/project_template_field.rb
  app/views/courses/_copy_course_details.html.erb
  app/views/project_templates/_new_field.html.erb
  app/views/topics/_copy_topic_details.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Update template table column headers
  app/views/project_templates/edit.html.erb
Due: npx @herb-tools/linter --fix

missed enrolment rename
  app/controllers/projects_controller.rb
  app/models/project_instance.rb
Due: bundle exec rubocop -a

fixed bug where status would be set to nil if proposal was not approved
  app/models/project.rb
  app/models/project_instance.rb
Due: bundle exec rubocop -a

fixed project updates
  app/controllers/projects_controller.rb
Due: bundle exec rubocop -a

man
  app/controllers/projects_controller.rb
Due: bundle exec rubocop -a

Line breaks
  app/views/projects/_project_new.html.erb
Due: npx @herb-tools/linter --fix

change to leading-snug
  app/views/projects/_project_new.html.erb
Due: npx @herb-tools/linter --fix

Sync project title from fields before save
  app/models/project_instance.rb
Due: bundle exec rubocop -a

don't set title to previous title
  app/models/project.rb
Due: bundle exec rubocop -a

yes
  app/models/project.rb
Due: bundle exec rubocop -a

before save to before validation
  app/models/project_instance.rb
Due: bundle exec rubocop -a

added missing closing bracket
  app/controllers/participants_controller.rb
Due: bundle exec rubocop -a

Added: Toggle Topics in course setting
  app/controllers/courses_controller.rb
  app/controllers/topics_controller.rb
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_lecturer_section.html.erb
  app/views/courses/_sidebar.html.erb
  app/views/courses/_student_section.html.erb
  app/views/courses/settings.html.erb
  app/views/lecturers/show.html.erb
  app/views/projects/_project_details.html.erb
  app/views/projects/edit.html.erb
  app/views/projects/new.html.erb
  db/migrate/20260413114848_add_toggle_topics_to_courses.rb
  db/schema.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

test
  app/views/lecturers/show.html.erb
Due: npx @herb-tools/linter --fix

fix: Field value returns nil if new field is added
  app/controllers/projects_controller.rb
Due: bundle exec rubocop -a

fix: Diff accounts for new field
  app/controllers/projects_controller.rb
  app/views/projects/_project_details.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

temp
  app/controllers/lecturers_controller.rb
  app/controllers/projects_controller.rb
  app/javascript/controllers/proposal_selection_controller.js
  app/views/lecturers/index.html.erb
  app/views/lecturers/show.html.erb
  app/views/projects/new.html.erb
  config/application.rb
  config/breadcrumbs.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

missing thing
  app/controllers/participants_controller.rb
Due: bundle exec rubocop -a

Add 'acts_as_list' gem
  Gemfile
  Gemfile.lock
Due: none

Migration to add position column
  app/models/project_template_field.rb
  db/migrate/20260417011530_add_position_to_project_template_field.rb
  db/schema.rb
Due: bundle exec rubocop -a

Added ordering logic into views
  app/models/project_template.rb
  app/views/projects/_project_details.html.erb
  app/views/topics/_topic_fields.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: added proposal method to projects/edit
  app/controllers/lecturers_controller.rb
  app/controllers/projects_controller.rb
  app/controllers/topics_controller.rb
  app/javascript/controllers/proposal_selection_controller.js
  app/policies/course_policy.rb
  app/policies/project_policy.rb
  app/views/courses/_topic_card.html.erb
  app/views/lecturers/_lecturer_card.html.erb
  app/views/lecturers/show.html.erb
  app/views/projects/_proposal_method.html.erb
  app/views/projects/edit.html.erb
  app/views/projects/new.html.erb
  app/views/projects/show.html.erb
  app/views/topics/_topic_actions.html.erb
  app/views/topics/show.html.erb
  config/breadcrumbs.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Fix markdown text editor not pasting value
  app/javascript/controllers/markdown_editor_controller.js
  app/javascript/controllers/overlay_controller.js
  app/views/topics/new.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

fix: removed auto merged changes from main causing errors in projects/new and edit
  app/views/projects/edit.html.erb
  app/views/projects/new.html.erb
Due: npx @herb-tools/linter --fix

Rerun migration
  db/schema.rb
Due: bundle exec rubocop -a

Temp fix for nil enrollment
  app/policies/project_policy.rb
Due: bundle exec rubocop -a

Add move route for template
  config/routes.rb
Due: bundle exec rubocop -a

Add ProjectTemplateFields controller
  app/controllers/project_template_fields_controller.rb
  app/helpers/project_template_fields_helper.rb
Due: bundle exec rubocop -a

fix: project controller to query instead of policy (policy is added later on)
  app/controllers/lecturers_controller.rb
Due: bundle exec rubocop -a

Add drag handle beside each row
  app/javascript/project_template_fields.js
  app/views/project_templates/_field_row.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Added solo supervisor
  app/controllers/projects_controller.rb
  app/models/course.rb
  app/policies/project_policy.rb
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_lecturer_section.html.erb
  app/views/courses/_lecturers.html.erb
  app/views/courses/_participants.html.erb
  app/views/courses/_participants_table.html.erb
  app/views/courses/_sidebar.html.erb
  app/views/courses/_student_section.html.erb
  app/views/courses/settings.html.erb
  app/views/projects/_project_header.html.erb
  app/views/projects/_proposal_method.html.erb
  app/views/projects/edit.html.erb
  app/views/projects/new.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Field row can be drag
  app/javascript/controllers/sortable_controller.js
  app/views/project_templates/edit.html.erb
  config/importmap.rb
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

Changed Supervisor Avaible to Instructors: + Changed section location for just solo_supervisor
  app/policies/project_policy.rb
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_lecturer_section.html.erb
  app/views/courses/_student_section.html.erb
  app/views/courses/show.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Fixes Editable label for being incosistent between pending and apporved
  app/views/projects/_project_edit.html.erb
Due: npx @herb-tools/linter --fix

feat: migration
  app/controllers/courses_controller.rb
  app/controllers/projects_controller.rb
  app/controllers/topics_controller.rb
  app/javascript/project_template_fields.js
  app/models/project_instance.rb
  app/models/project_template.rb
  app/views/courses/_copy_course_details.html.erb
  app/views/project_templates/_field_row.html.erb
  app/views/project_templates/_new_field.html.erb
  db/migrate/20260418112235_add_is_project_title_to_project_template_fields.rb
  db/schema.rb
  db/seeds.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

reduce threads to 3
  config/puma.rb
Due: bundle exec rubocop -a
