Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

refactor: moved some courses_controller methods into course.rb + robocop autocorrect
  Gemfile
  app/controllers/courses_controller.rb
  app/controllers/participants_controller.rb
  app/controllers/projects_controller.rb
  app/models/course.rb
  app/models/project_instance.rb
  bin/brakeman
  bin/bundle
  bin/jobs
  bin/rubocop
  bin/setup
  bin/thrust
Due: bundle exec rubocop -a

feat: Textarea resizing for edit profile and edit course templates
  app/javascript/project_template_fields.js
  app/views/project_templates/_field_row.html.erb
  app/views/project_templates/_new_field.html.erb
  app/views/user/profile.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: Textarea resize for add lecturers, course settings, new progress update
  app/views/courses/add_lecturers.html.erb
  app/views/courses/settings.html.erb
  app/views/progress_updates/new.html.erb
Due: npx @herb-tools/linter --fix

test: added factories and project_instances tests & deleted fixture files
  test/factories/courses.rb
  test/factories/enrolments.rb
  test/factories/project_instances.rb
  test/factories/project_templates.rb
  test/factories/projects.rb
  test/factories/users.rb
  test/fixtures/comments.yml
  test/fixtures/files/.keep
  test/fixtures/otps.yml
  test/fixtures/ownerships.yml
  test/fixtures/project_instance_fields.yml
  test/fixtures/project_instances.yml
  test/fixtures/project_template_fields.yml
  test/fixtures/project_templates.yml
  test/fixtures/projects.yml
  test/fixtures/student_group_members.yml
  test/fixtures/users.yml
  test/models/project_instance_test.rb
Due: bundle exec rubocop -a

Added Button to Propose Own Proposal To Supervisor
  app/views/lecturers/show.html.erb
  app/views/projects/new.html.erb
Due: npx @herb-tools/linter --fix

feat: Auto resize textarea for topic and project comments, edit progress updates
  app/views/progress_updates/edit.html.erb
  app/views/projects/_project_comments.html.erb
  app/views/topics/_topic_comments.html.erb
Due: npx @herb-tools/linter --fix

feat: New and Edit Project pages
  app/views/projects/_project_edit.html.erb
  app/views/projects/_project_new.html.erb
Due: npx @herb-tools/linter --fix

More pages
  app/views/courses/settings.html.erb
  app/views/topics/edit.html.erb
  app/views/topics/new.html.erb
Due: npx @herb-tools/linter --fix

feat: Convert input field to textarea for edit project templates
  app/javascript/project_template_fields.js
  app/views/project_templates/_field_row.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

touch up
  app/views/projects/_project_header.html.erb
  app/views/sessions/new.html.erb
Due: npx @herb-tools/linter --fix

feat: Add empty state for student topic view comments
  app/views/topics/_topic_comments.html.erb
Due: npx @herb-tools/linter --fix

fix background colour seeping into other pages
  app/views/sessions/new.html.erb
Due: npx @herb-tools/linter --fix

polishing
  app/javascript/project_template_fields.js
  app/views/project_templates/_field_row.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

fix: Visual bugs on mobile
  app/views/progress_updates/edit.html.erb
  app/views/progress_updates/new.html.erb
Due: npx @herb-tools/linter --fix

Auto select when labels match
  app/javascript/controllers/overlay_controller.js
  app/views/topics/_copy_topic_details.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

styling: View Progress Update page
  app/views/progress_updates/show.html.erb
Due: npx @herb-tools/linter --fix

Touching up mobile views
  app/views/courses/show.html.erb
  app/views/homescreen/show.html.erb
  app/views/projects/new.html.erb
Due: npx @herb-tools/linter --fix

Fix flickering when auto select
  app/javascript/controllers/overlay_controller.js
  app/views/topics/_copy_topic_details.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

fix: Mobile view bugs
  app/views/projects/new.html.erb
  app/views/sessions/new.html.erb
Due: npx @herb-tools/linter --fix

fix Reset Password page mobile view
  app/views/passwords/new.html.erb
Due: npx @herb-tools/linter --fix

Fix mobile view for progress updates
  app/views/progress_updates/new.html.erb
  app/views/progress_updates/show.html.erb
Due: npx @herb-tools/linter --fix

Mobile styling fixes
  app/views/projects/_project_fields.html.erb
  app/views/projects/show.html.erb
  app/views/topics/new.html.erb
  app/views/user/profile.html.erb
Due: npx @herb-tools/linter --fix

feat: markdown controller
  app/javascript/controllers/markdown_editor_controller.js
Due: npx eslint --fix, npx prettier --write

feat: Markdown editor settings
  app/assets/tailwind/application.css
  app/javascript/controllers/markdown_editor_controller.js
  app/views/layouts/application.html.erb
  app/views/progress_updates/edit.html.erb
  app/views/progress_updates/new.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: Add markdown editors
  app/views/courses/settings.html.erb
  app/views/projects/_project_edit.html.erb
  app/views/projects/_project_new.html.erb
  app/views/topics/edit.html.erb
  app/views/topics/new.html.erb
Due: npx @herb-tools/linter --fix

committing first
  app/views/courses/settings.html.erb
Due: npx @herb-tools/linter --fix

fixes
  app/views/lecturers/show.html.erb
Due: npx @herb-tools/linter --fix

add missing block for students view in lecturer profile
  app/views/lecturers/show.html.erb
Due: npx @herb-tools/linter --fix

fix create proposal crash
  app/controllers/projects_controller.rb
Due: bundle exec rubocop -a

fix: missing method and duplicate edit methods in project_templates, topic_policy and controllerfor creating topics
  app/controllers/courses_controller.rb
  app/controllers/lecturers_controller.rb
  app/controllers/project_templates_controller.rb
  app/controllers/topics_controller.rb
  app/policies/topic_policy.rb
  app/views/lecturers/show.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

lint
  app/controllers/application_controller.rb
  app/controllers/courses_controller.rb
  app/controllers/lecturers_controller.rb
  app/controllers/participants_controller.rb
  app/controllers/project_templates_controller.rb
  app/controllers/topics_controller.rb
  app/helpers/projects_helper.rb
  app/helpers/topics_helper.rb
  app/models/project.rb
  app/policies/comment_policy.rb
  app/policies/course_policy.rb
  app/policies/project_policy.rb
  app/policies/topic_policy.rb
  app/views/projects/edit.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Add copy button into topic modal
  app/views/topics/_copy_topic_details.html.erb
Due: npx @herb-tools/linter --fix

Fix dynamic size problem for overlay
  app/views/courses/_copy_course_details.html.erb
  app/views/topics/_copy_topic_details.html.erb
Due: npx @herb-tools/linter --fix

Fix back button reload the page
  app/javascript/controllers/overlay_controller.js
  app/views/courses/_copy_course_details.html.erb
  app/views/courses/_copy_course_overlay.html.erb
  app/views/topics/_copy_topic_details.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

change incoming_projects to incoming_proposals
  app/views/lecturers/show.html.erb
Due: npx @herb-tools/linter --fix

Fixed issue where proposing topic strictly fills in the first topic
  app/views/projects/new.html.erb
  app/views/topics/_topic_fields.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

fix: resizable topic comments text area
  app/views/topics/_topic_comments.html.erb
Due: npx @herb-tools/linter --fix

feat: added more tests cases for project instance, fixed bug for update_parent_project method
  app/controllers/projects_controller.rb
  app/models/project.rb
  app/models/project_instance.rb
  db/seeds.rb
  test/models/project_instance_test.rb
Due: bundle exec rubocop -a

feat: added more proj instance tests + fixed gemfile
  Gemfile.lock
  test/models/project_instance_test.rb
Due: bundle exec rubocop -a

Path conditions:
  npx eslint --fix: any of: *.js
  npx prettier --write: (any of: *.js) or (any of: *.css)
  bundle exec rubocop -a: any of: *.rb
  npx @herb-tools/linter --fix: any of: *.erb
