Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: added topic_instance tests
  app/models/topic_instance.rb
  test/factories/topics.rb
  test/models/topic_instance_test.rb
Due: bundle exec rubocop -a

feat: adding validations for version and title for proj instance and topic instance
  app/models/project_instance.rb
  app/models/topic_instance.rb
Due: bundle exec rubocop -a

Added compulsory field for Project Template Field
  app/controllers/project_templates_controller.rb
  app/javascript/project_template_fields.js
  app/models/project_template_field.rb
  app/views/project_templates/_field_row.html.erb
  app/views/project_templates/_new_field.html.erb
  app/views/project_templates/edit.html.erb
  app/views/projects/_project_edit.html.erb
  app/views/projects/_project_new.html.erb
  app/views/topics/edit.html.erb
  app/views/topics/new.html.erb
  app/views/topics/propose_based_on.txt
  db/migrate/20260307105744_addrequired_toproject_template_fields.rb
  db/schema.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

lint
  app/javascript/project_template_fields.js
  app/models/project_template_field.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a

feat: stating change_status tests and add login as method to test_helper
  app/views/projects/_project_header.html.erb
  test/factories/users.rb
  test/system/change_status_test.rb
  test/test_helper.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

deps: Install redcarpet gem
  Gemfile
  Gemfile.lock
Due: none

feat: Add markdown rendering helper
  app/helpers/markdown_helper.rb
Due: bundle exec rubocop -a

feat: added change_status_test for both projects and topics
  app/views/topics/_topic_header.html.erb
  test/application_system_test_case.rb
  test/factories/topic_instances.rb
  test/factories/users.rb
  test/system/change_status_test.rb
  test/system/projects/change_status_test.rb
  test/system/topics/change_status_test.rb
  test/test_helper.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

chore: update deps (peer)
  package-lock.json
Due: none

chore: Add sqids for course code generation
  Gemfile
  Gemfile.lock
Due: none

feat: Add course code generation
  app/models/course.rb
Due: bundle exec rubocop -a

feat: added project/topic versioning system tests switched update business logic to instance_to_edit method in models + wrote unit testing for instance_to_edit tests for project/topics
  app/controllers/projects_controller.rb
  app/controllers/topics_controller.rb
  app/models/project.rb
  app/models/topic.rb
  app/views/projects/_project_header.html.erb
  app/views/topics/_topic_header.html.erb
  test/models/project_test.rb
  test/models/topic_test.rb
  test/system/projects/project_versioning_test.rb
  test/system/topics/topic_versioning_test.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Add CI workflow and bin/ci script
  .github/workflows/ci.yml
  bin/ci
Due: none

fix: deleted all yml fixture files
  test/fixtures/comments.yml
  test/fixtures/otps.yml
  test/fixtures/ownerships.yml
  test/fixtures/project_instance_fields.yml
  test/fixtures/project_instances.yml
  test/fixtures/project_template_fields.yml
  test/fixtures/project_templates.yml
  test/fixtures/projects.yml
  test/fixtures/student_group_members.yml
  test/fixtures/users.yml
Due: none

fix: deleted auto generated controller tests
  test/controllers/courses_controller_test.rb
  test/controllers/homescreen_controller_test.rb
  test/controllers/static_pages_controller_test.rb
  test/controllers/user_controller_test.rb
Due: bundle exec rubocop -a

Validate value for dropdown and radio
  app/views/topics/_copy_topic_details.html.erb
Due: npx @herb-tools/linter --fix

Improve default option for fields
  app/views/topics/_copy_topic_details.html.erb
Due: npx @herb-tools/linter --fix

Sort the card by newest first
  app/controllers/courses_controller.rb
  app/controllers/topics_controller.rb
Due: bundle exec rubocop -a

migrated change username to name and student_id to instid + replaced in models/controllers/views
  app/controllers/courses_controller.rb
  app/controllers/projects_controller.rb
  app/controllers/topics_controller.rb
  app/controllers/user_controller.rb
  app/helpers/projects_helper.rb
  app/mailers/general_mailer.rb
  app/models/user.rb
  app/views/courses/_copy_course_overlay.html.erb
  app/views/courses/_course_card.html.erb
  app/views/courses/_lecturers.html.erb
  app/views/courses/_participants_table.html.erb
  app/views/courses/_project_card_contents.html.erb
  app/views/courses/_topic_card_contents.html.erb
  app/views/courses/profile.html.erb
  app/views/general_mailer/New_Student_Submission.html.erb
  app/views/general_mailer/New_Student_Submission.text.erb
  app/views/general_mailer/Project_Status_Updated.html.erb
  app/views/general_mailer/Project_Status_Updated.text.erb
  app/views/general_mailer/Topic_Status_Updated.html.erb
  app/views/general_mailer/Topic_Status_Updated.text.erb
  app/views/homescreen/show.html.erb
  app/views/lecturers/index.html.erb
  app/views/lecturers/show.html.erb
  app/views/projects/_project_comments.html.erb
  app/views/projects/_project_header.html.erb
  app/views/projects/edit.html.erb
  app/views/projects/index.html.erb
  app/views/projects/new.html.erb
  app/views/topics/_topbar.html.erb
  app/views/topics/_topic_comments.html.erb
  app/views/topics/_topic_header.html.erb
  app/views/user/new_staff.html.erb
  app/views/user/profile.html.erb
  config/breadcrumbs.rb
  db/migrate/20260312044050_rename_user_columns.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/remove_student_id_prefix.rake
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: rolling back to test out
  db/schema.rb
Due: bundle exec rubocop -a

added project and topics tests (yet to try them out)
  bundle_install.log
  test/factories/project_group_members.rb
  test/factories/project_groups.rb
  test/system/projects/project_creation_test.rb
  test/system/topics/topic_creation_test.rb
Due: bundle exec rubocop -a

lint
  app/controllers/courses_controller.rb
  app/controllers/projects_controller.rb
  app/controllers/topics_controller.rb
  test/application_system_test_case.rb
  test/factories/courses.rb
  test/factories/enrolments.rb
  test/factories/project_instances.rb
  test/factories/project_templates.rb
  test/factories/projects.rb
  test/factories/topic_instances.rb
  test/factories/topics.rb
  test/factories/users.rb
  test/models/project_instance_test.rb
  test/models/project_test.rb
  test/models/topic_instance_test.rb
  test/models/topic_test.rb
  test/system/projects/change_status_test.rb
  test/system/projects/project_creation_test.rb
  test/system/projects/project_versioning_test.rb
  test/system/topics/change_status_test.rb
  test/system/topics/topic_creation_test.rb
  test/system/topics/topic_versioning_test.rb
  test/test_helper.rb
Due: bundle exec rubocop -a

feat: Add working course code generator
  app/controllers/courses_controller.rb
  app/models/course.rb
  app/views/courses/_course_code_form.html.erb
  app/views/courses/settings.html.erb
  config/routes.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

added back the db migrate
  db/schema.rb
Due: bundle exec rubocop -a

switch auth before_actions in course controller to inline
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

feat: Flash message on course code generation
  app/controllers/courses_controller.rb
  app/views/courses/_course_code_form.html.erb
  app/views/courses/_flash.html.erb
  app/views/courses/settings.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: Error if making course code on grouped cours
  app/controllers/courses_controller.rb
  app/models/course.rb
Due: bundle exec rubocop -a

Fix preview not changing
  app/views/topics/_copy_topic_details.html.erb
Due: npx @herb-tools/linter --fix

Copy the value into the create topic page
  app/javascript/controllers/overlay_controller.js
  app/views/topics/_copy_topic_details.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Fix unable to scroll after copy
  app/javascript/controllers/overlay_controller.js
  app/views/topics/_copy_topic_details.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: Markdown rendering works
  app/assets/tailwind/application.css
  app/views/projects/_progress_updates.html.erb
Due: npx prettier --write, npx @herb-tools/linter --fix

feat: Add markdown rendering to show progress update
  app/views/progress_updates/show.html.erb
Due: npx @herb-tools/linter --fix

feat: markdown rendering on project and topic details
  app/views/projects/_project_details.html.erb
  app/views/topics/_topic_fields.html.erb
Due: npx @herb-tools/linter --fix

feat: Parse markdown syntax for rendering on card
  app/assets/tailwind/application.css
  app/helpers/markdown_helper.rb
  app/views/courses/_project_card_contents.html.erb
  app/views/courses/_topic_card_contents.html.erb
Due: npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

styling
  app/assets/tailwind/application.css
Due: npx prettier --write

feat: Add conditional rendering for button wording
  app/views/courses/_course_code_form.html.erb
Due: npx @herb-tools/linter --fix

do linear search to find if there's an existing project_group_member for course
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

fix: Use randomly generated nonce for coursecode
  app/models/course.rb
Due: bundle exec rubocop -a

test: Add testing for generate_coursecode
  test/models/course_test.rb
Due: bundle exec rubocop -a

Path conditions:
  npx eslint --fix: any of: *.js
  npx prettier --write: (any of: *.js) or (any of: *.css)
  bundle exec rubocop -a: any of: *.rb
  npx @herb-tools/linter --fix: any of: *.erb
