Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

.lintstagedrc.json:

{
    "*.js": [ "npx eslint --fix", "npx prettier --write" ],
    "*.css": [ "npx prettier --write" ],
    "*.rb": [ "bundle exec rubocop -a" ],
    "*.erb": [ "npx @herb-tools/linter --fix" ]
}

Add free edit option in edit template page
  app/views/project_templates/_field_row.html.erb
  app/views/project_templates/edit.html.erb
Due: npx @herb-tools/linter --fix

Fix new field showing old row style
  app/controllers/project_templates_controller.rb
  app/javascript/project_template_fields.js
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a

patched test as well
  test/factories/project_instances.rb
  test/factories/projects.rb
  test/models/project_instance_test.rb
  test/models/project_test.rb
Due: bundle exec rubocop -a

Project title cannot be free edit
  app/javascript/project_template_fields.js
Due: npx eslint --fix, npx prettier --write

feat: Add section label for different versions
  app/views/projects/_project_comments.html.erb
  app/views/topics/_topic_comments.html.erb
Due: npx @herb-tools/linter --fix

Allow edit proposal after approval
  app/controllers/projects_controller.rb
  app/policies/project_policy.rb
Due: bundle exec rubocop -a

styling: Center align status icon and status text in project status bar
  app/views/courses/_project_status_bar.html.erb
Due: npx @herb-tools/linter --fix

Fix versioning not updating after free edit update
  app/controllers/projects_controller.rb
  app/models/project.rb
Due: bundle exec rubocop -a

Disable field that is not read only
  app/views/projects/_project_edit.html.erb
  app/views/projects/edit.html.erb
Due: npx @herb-tools/linter --fix

Fix lecture showing actions in project page
  app/views/projects/_project_edit.html.erb
  app/views/projects/show.html.erb
Due: npx @herb-tools/linter --fix

Revert "Project title cannot be free edit"
  app/javascript/project_template_fields.js
Due: npx eslint --fix, npx prettier --write

feat: Make comments scroll to bottom
  app/javascript/controllers/scroll_to_bottom_controller.js
  app/views/projects/_project_comments.html.erb
  app/views/topics/_topic_comments.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: Make comments scroll to corresponding version
  app/javascript/controllers/scroll_to_bottom_controller.js
  app/views/projects/_project_comments.html.erb
  app/views/topics/_topic_comments.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Show editable after approval instead of locked
  app/views/projects/_project_edit.html.erb
  app/views/projects/_project_new.html.erb
  app/views/projects/edit.html.erb
  app/views/projects/new.html.erb
  app/views/topics/edit.html.erb
  app/views/topics/new.html.erb
Due: npx @herb-tools/linter --fix

Change Free Edit to Editable
  app/views/project_templates/edit.html.erb
Due: npx @herb-tools/linter --fix

Use 'Editable Post-Approval' label
  app/views/project_templates/edit.html.erb
  app/views/projects/_project_edit.html.erb
  app/views/projects/_project_new.html.erb
  app/views/topics/edit.html.erb
  app/views/topics/new.html.erb
Due: npx @herb-tools/linter --fix

Fix course card leading to wrong course
  app/javascript/controllers/overlay_controller.js
  app/views/courses/_copy_course_overlay.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Fix goBack() error
  app/javascript/controllers/overlay_controller.js
Due: npx eslint --fix, npx prettier --write

Make comment textarea expand longer
  app/javascript/controllers/textarea_resize_controller.js
  app/views/projects/_project_comments.html.erb
  app/views/projects/show.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

comment textarea resize for topics
  app/views/topics/_topic_comments.html.erb
  app/views/topics/show.html.erb
Due: npx @herb-tools/linter --fix

tweak max-h to be taller
  app/views/topics/_topic_comments.html.erb
Due: npx @herb-tools/linter --fix

feat: Add coursecode_enabled column in Course
  db/migrate/20260406172051_add_coursecode_enabled_to_courses.rb
  db/schema.rb
Due: bundle exec rubocop -a

fix: Previous migration was not applied properly
  db/schema.rb
Due: bundle exec rubocop -a

linter: Linter auto fix
  app/views/project_templates/edit.html.erb
Due: npx @herb-tools/linter --fix

feat: Refactor coursecode form and add toggle
  app/controllers/courses_controller.rb
  app/javascript/controllers/coursecode_form_handler_controller.js
  app/views/courses/_course_code_form.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

formatting: Autoformat
  app/controllers/courses_controller.rb
  app/javascript/controllers/coursecode_form_handler_controller.js
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a

test: Update update_coursecode_test
  test/integration/update_coursecode_test.rb
Due: bundle exec rubocop -a

formatting: Autoformatting
  test/integration/update_coursecode_test.rb
Due: bundle exec rubocop -a

feat: revamped projects/new, updated breadcrumb
  app/controllers/projects_controller.rb
  app/policies/project_policy.rb
  app/views/courses/_topic_card.html.erb
  app/views/projects/new.html.erb
  app/views/topics/_topic_actions.html.erb
  app/views/topics/_topic_fields.html.erb
  app/views/topics/show.html.erb
  config/breadcrumbs.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

supervisor to supervisor_enrolment
  app/controllers/courses_controller.rb
  app/controllers/projects_controller.rb
  app/models/project.rb
  app/models/project_instance.rb
  app/policies/project_policy.rb
  app/views/courses/_participants_table.html.erb
  app/views/courses/profile.html.erb
  app/views/projects/_project_header.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

conflicts but no conflicts?
  db/seeds.rb
  test/factories/project_instances.rb
  test/factories/projects.rb
  test/models/project_instance_test.rb
  test/models/project_test.rb
Due: bundle exec rubocop -a

more tests
  test/system/projects/change_status_test.rb
  test/system/projects/project_versioning_test.rb
Due: bundle exec rubocop -a

feat: Add progress updates to CSV
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

fixed bad preload query
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

another one
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

feat: finishing up js for mutually exclusive based on topic/own proposal and fixed seeds
  app/controllers/projects_controller.rb
  app/javascript/application.js
  app/javascript/controllers/index.js
  app/javascript/controllers/proposal_selection_controller.js
  app/views/projects/new.html.erb
  db/seeds.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

fix: removed extra end in projects controller
  app/controllers/projects_controller.rb
Due: bundle exec rubocop -a

feat: Add check if coursecode_enabled
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

feat: Update enroll_via_coursecode test
  test/integration/enroll_via_coursecode_test.rb
Due: bundle exec rubocop -a

refactor: Move logic into Enrolment model
  app/controllers/courses_controller.rb
  app/models/enrolment.rb
Due: bundle exec rubocop -a
