Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

.lintstagedrc.json:

{
    "*.js": [ "npx eslint --fix", "npx prettier --write" ],
    "*.css": [ "npx prettier --write" ],
    "*.rb": [ "bundle exec rubocop -a" ],
    "*.erb": [ "npx @herb-tools/linter --fix" ]
}

fix: Authorize on coursecode generation
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

forgor again
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

remove from course feature in profile view
  app/controllers/courses_controller.rb
  app/controllers/enrolments_controller.rb
  app/views/courses/profile.html.erb
  config/routes.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

delete comments along with project/topic instances
  app/models/project_instance.rb
  app/models/topic_instance.rb
Due: bundle exec rubocop -a

fix: added error handling for user not authorized
  app/controllers/application_controller.rb
Due: bundle exec rubocop -a

feat: mobile UX fixes
  app/controllers/projects_controller.rb
  app/helpers/sidebar_helper.rb
  app/javascript/controllers/sidebar_controller.js
  app/policies/course_policy.rb
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_lecturer_section.html.erb
  app/views/courses/_project_card.html.erb
  app/views/courses/_project_card_contents.html.erb
  app/views/courses/_project_status_bar.html.erb
  app/views/courses/_student_section.html.erb
  app/views/courses/_topic_card.html.erb
  app/views/courses/_topic_card_contents.html.erb
  app/views/courses/show.html.erb
  app/views/lecturers/show.html.erb
  app/views/projects/_project_header.html.erb
  app/views/projects/show.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: reworked status badges and collapsable
  app/assets/images/collapsable_arrow.svg
  app/assets/images/collapsable_arrow.svg:Zone.Identifier
  app/assets/images/pending.svg
  app/assets/images/redo.svg
  app/assets/images/rejected.svg
  app/helpers/application_helper.rb
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_lecturer_section.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: added collapsable arrow to approved sections
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_lecturer_section.html.erb
Due: npx @herb-tools/linter --fix

fix: participants filters
  app/controllers/courses_controller.rb
  app/controllers/participants_controller.rb
Due: bundle exec rubocop -a

fix: participants filters and optimized querying for participants table to use preload instead
  app/controllers/courses_controller.rb
  app/controllers/participants_controller.rb
  app/helpers/courses_helper.rb
  app/views/courses/_participants_table.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

chore: cleaned up accidental commits + fixed participants index table filtering
  app/controllers/participants_controller.rb
Due: bundle exec rubocop -a

feat: rearrange project actions on topics as well
  app/controllers/topics_controller.rb
  app/views/topics/_topic_header.html.erb
  app/views/topics/show.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: Add base styling for custom 404 and 500 error pages
  app/controllers/errors_controller.rb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  config/application.rb
  config/environments/development.rb
  config/routes.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

formatting: Formatting
  app/controllers/application_controller.rb
  app/controllers/enrolments_controller.rb
  app/controllers/projects_controller.rb
  app/helpers/application_helper.rb
  app/javascript/controllers/sidebar_controller.js
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_lecturer_section.html.erb
  app/views/courses/_project_status_bar.html.erb
  app/views/topics/show.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: Add flash message on home page
  app/views/homescreen/show.html.erb
Due: npx @herb-tools/linter --fix

feat: Add integration test for update coursecode
  test/integration/update_coursecode_test.rb
Due: bundle exec rubocop -a

feat: added sorting to participants table
  app/controllers/courses_controller.rb
  app/controllers/participants_controller.rb
  app/models/project.rb
  app/views/courses/_participants.html.erb
  app/views/courses/_participants_table.html.erb
  app/views/layouts/application.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

fix: coursecode
  db/migrate/20260403045543_add_coursecode_to_coursesfix.rb
  db/schema.rb
Due: bundle exec rubocop -a

fix: readded googleapis to layouts head
  app/views/layouts/application.html.erb
Due: npx @herb-tools/linter --fix

enrolment_to_supervisor
  app/controllers/courses_controller.rb
  app/controllers/projects_controller.rb
  app/models/project.rb
  app/models/project_instance.rb
  app/policies/project_policy.rb
  app/views/courses/_participants_table.html.erb
  app/views/courses/profile.html.erb
  app/views/projects/_project_header.html.erb
  db/seeds.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

styling: 404 and 500
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
Due: npx @herb-tools/linter --fix

feat: Add test for enroll_via_coursecode
  test/integration/enroll_via_coursecode_test.rb
Due: bundle exec rubocop -a

fix: scope should return ActiveRecords:relations
  app/controllers/courses_controller.rb
  app/models/course.rb
Due: bundle exec rubocop -a

fix: Only show join_by_code for students
  app/views/homescreen/show.html.erb
Due: npx @herb-tools/linter --fix

feat: Add custom error page styles
  app/views/errors/forbidden.html.erb
  app/views/errors/service_unavailable.html.erb
  app/views/errors/unauthorized.html.erb
  app/views/errors/unprocessable_entity.html.erb
  config/routes.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

style: fix ui glitch
  app/views/courses/add_lecturers.html.erb
Due: npx @herb-tools/linter --fix

fix: Add missing methods in error controller
  app/controllers/errors_controller.rb
Due: bundle exec rubocop -a

feat: Restyle
  app/views/errors/forbidden.html.erb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/service_unavailable.html.erb
  app/views/errors/unauthorized.html.erb
  app/views/errors/unprocessable_entity.html.erb
Due: npx @herb-tools/linter --fix

Revert to debug view on dev
  config/environments/development.rb
Due: bundle exec rubocop -a

feat: search bar
  app/controllers/courses_controller.rb
  app/controllers/participants_controller.rb
  app/views/courses/_participants.html.erb
  app/views/courses/_participants_table.html.erb
  config/application.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

chore: Undo unrelated fix
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

chore: Move unrelated test to other branch
  test/integration/update_coursecode_test.rb
Due: bundle exec rubocop -a

feat: Add update_coursecode integration test
  test/integration/update_coursecode_test.rb
Due: bundle exec rubocop -a

fix: Ensure update_coursecode is authenticated
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

Add free edit as a field type
  app/javascript/project_template_fields.js
  app/models/project_template_field.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a

Fix free edit can be required
  app/javascript/project_template_fields.js
Due: npx eslint --fix, npx prettier --write

Revert changes to main
  app/javascript/project_template_fields.js
  app/models/project_template_field.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a

feat: Display comments for all versions
  app/controllers/projects_controller.rb
  app/controllers/topics_controller.rb
  app/models/project.rb
  app/models/topic.rb
Due: bundle exec rubocop -a

Add column 'free_edit' into 'project_template_fields'
  db/migrate/20260405053252_add_free_edit_to_project_template_fields.rb
  db/schema.rb
Due: bundle exec rubocop -a
