Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

.lintstagedrc.json:

{
    "*.js": [ "npx eslint --fix", "npx prettier --write" ],
    "*.css": [ "npx prettier --write" ],
    "*.rb": [ "bundle exec rubocop -a" ],
    "*.erb": [ "npx @herb-tools/linter --fix" ]
}

gave workflow file a user env as well
  .github/workflows/ci.yml
Due: none

switch to pg and update workflow
  .github/workflows/ci.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  config/database.yml
Due: none

fix workflow transplant
  .github/workflows/ci.yml
Due: none

workflow
  .github/workflows/ci.yml
Due: none

fix: outdated system tests
  test/system/courses/course_tabs_test.rb
  test/system/courses/overview_tab_test.rb
  test/system/courses/tmp_fill_probe_test.rb
  test/system/projects/change_status_test.rb
  test/system/projects/project_form_test.rb
  test/system/projects/project_versioning_test.rb
  test/system/tabs_sticky_test.rb
Due: bundle exec rubocop -a

linter
  test/system/projects/change_status_test.rb
  test/system/projects/project_form_test.rb
Due: bundle exec rubocop -a

Fix system test suite for PostgreSQL and stabilize parallel tests
  .github/workflows/ci.yml
  Gemfile
  Gemfile.lock
  test/application_system_test_case.rb
  test/support/with_clues.rb
  test/system/courses/course_tab_persistence_test.rb
  test/system/courses/overview_tab_test.rb
  test/system/courses/settings_coursecode_test.rb
  test/system/courses/tmp_fill_probe_test.rb
  test/system/form_overflow_test.rb
  test/system/projects/mobile_overflow_test.rb
  test/system/sidebar_collapse_test.rb
  test/system/tabs_sticky_test.rb
  test/system/topics/copy_topic_dialog_test.rb
  test/system/topics/topic_versioning_test.rb
  test/test_helper.rb
Due: bundle exec rubocop -a

feat: added dockerfiles and configurations for staging enviroment!
  Dockerfile
  config/environments/staging.rb
  docker-compose.yml
Due: bundle exec rubocop -a

feat: coursecode section restyled + js to clear/hide the generate/coursecode if coursecode off
  CONTEXT.md
  app/controllers/courses_controller.rb
  app/javascript/controllers/coursecode_form_handler_controller.js
  app/views/courses/_course_code_form.html.erb
  app/views/courses/settings.html.erb
  docs/adr/0010-formless-coursecode-widget.md
  test/integration/update_coursecode_test.rb
  test/system/courses/settings_coursecode_test.rb
  test/system/courses/settings_save_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

update bundler version
  Gemfile.lock
Due: none

added unicode encoding back
  config/database.yml
Due: none

fixed json to 2.21.2
  Gemfile
  Gemfile.lock
  db/schema.rb
Due: bundle exec rubocop -a

fixed json to 2.21.2
  Gemfile
  Gemfile.lock
Due: none

removed unused assets
  html-alex/card.css
  html-alex/progress_bar.css
  html-alex/test.css
  html-alex/test.html
  html-keith/new.html
  html-keith/propro.css
  html-keith/send_lecturer_invite.html
  html-keith/sessions.css
  html-keith/user_course.html
Due: npx prettier --write

linter
  app/assets/tailwind/application.css
  app/javascript/controllers/sortable_controller.js
  app/javascript/project_template_fields.js
Due: npx eslint --fix, npx prettier --write

linter
  app/controllers/user_controller.rb
  app/models/project_template_field.rb
  app/views/courses/profile.html.erb
  app/views/lecturers/show.html.erb
  app/views/project_templates/_option_row_dropdown.html.erb
  app/views/project_templates/_option_row_radio.html.erb
  app/views/project_templates/_option_section.html.erb
  app/views/project_templates/edit.html.erb
  app/views/user/profile.html.erb
  test/controllers/courses_controller_test.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: renamed proposal items into project items for correctness and fixed project details z index
  CONTEXT.md
  app/views/courses/_overview_tab.html.erb
  app/views/courses/_students_section.html.erb
  app/views/courses/_topic_item.html.erb
  app/views/courses/_topics_by_supervisor_list.html.erb
  app/views/courses/profile.html.erb
  app/views/courses/show.html.erb
  app/views/lecturers/show.html.erb
  app/views/projects/_list_item.html.erb
  app/views/projects/_project_header.html.erb
  app/views/shared/_list.html.erb
  app/views/shared/_list_item.html.erb
  app/views/styleguide/show.html.erb
  app/views/topics/_context_header.html.erb
  app/views/topics/_copy_topic_overlay.html.erb
  app/views/topics/index.html.erb
Due: npx @herb-tools/linter --fix

fix: progress updates save and fake markdown text
  app/controllers/progress_updates_controller.rb
  app/models/project.rb
  app/views/projects/_record_update_modal.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: deleted progress updates/edit and new and added edit progress updates modal in projects/
  CONTEXT.md
  app/controllers/progress_updates_controller.rb
  app/javascript/controllers/dropdown_controller.js
  app/javascript/controllers/record_update_modal_controller.js
  app/views/progress_updates/edit.html.erb
  app/views/progress_updates/new.html.erb
  app/views/progress_updates/show.html.erb
  app/views/projects/_edit_update_modal.html.erb
  app/views/projects/_progress_updates.html.erb
  app/views/projects/show.html.erb
  config/breadcrumbs.rb
  config/routes.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/javascript/controllers/record_update_modal_controller.js
  app/views/projects/_edit_update_modal.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: follow up fixes redesign
  CONTEXT.md
  app/controllers/courses_controller.rb
  app/controllers/homescreen_controller.rb
  app/models/user.rb
  app/views/courses/_groups_tab.html.erb
  app/views/courses/_groups_table.html.erb
  app/views/courses/_people_tab.html.erb
  app/views/courses/_students_section.html.erb
  app/views/courses/_students_table.html.erb
  app/views/courses/_topic_directory_tab.html.erb
  app/views/courses/_topics_by_supervisor_list.html.erb
  app/views/courses/_topics_section.html.erb
  app/views/shared/_list_item.html.erb
  app/views/shared/_sidebar.html.erb
  app/views/shared/_table_empty_state.html.erb
  app/views/styleguide/show.html.erb
  app/views/topics/_copy_topic_details.html.erb
  app/views/topics/_copy_topic_list_item.html.erb
  app/views/topics/_copy_topic_overlay.html.erb
  app/views/topics/_template_fields.html.erb
  docs/adr/0017-copy-topic-list-item-reuses-shared-locals.md
  docs/adr/0018-empty-state-decided-in-the-controller.md
  test/controllers/courses_controller_test.rb
  test/integration/homescreen_cards_render_test.rb
  test/system/topics/copy_topic_dialog_test.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Integrated Rinku Auto Link into both Projects and Topics Details , excl paragraph since it has already been implemented
  .ruby-version
  Gemfile
  Gemfile.lock
  app/views/projects/_project_details.html.erb
  app/views/topics/_topic_field_list.html.erb
  db/schema.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

allow deletion of project template fields only when cascaded through project template
  app/models/project_template_field.rb
  db/schema.rb
Due: bundle exec rubocop -a

changed evaluation order inside model
  app/models/project_template_field.rb
Due: bundle exec rubocop -a

removed commented code
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

Fix filter approved topics
  app/controllers/topics_controller.rb
Due: bundle exec rubocop -a

Fix paragraph field cannot be copied
  app/javascript/controllers/copy_topic_controller.js
Due: npx eslint --fix, npx prettier --write

closed the <a> tag properly
  app/views/general_mailer/ProPro_Invite.html.erb
  app/views/general_mailer/Signup_Verification.html.erb
Due: npx @herb-tools/linter --fix

feat: init js and basic layout page, and switched dashboard to its own route and product demo as route.
  app/assets/images/landing/Compare_Versions.png
  app/assets/images/landing/Course_settings.png
  app/assets/images/landing/Groups.png
  app/assets/images/landing/Lecturers.png
  app/assets/images/landing/Overview.png
  app/assets/images/landing/Project_templates.png
  app/assets/images/landing/Projects actions.png
  app/assets/images/landing/Projects_New.png
  app/assets/images/landing/Projects_show.png
  app/assets/images/landing/Topics.png
  app/controllers/application_controller.rb
  app/controllers/concerns/authentication.rb
  app/controllers/courses_controller.rb
  app/controllers/enrolments_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/user_controller.rb
  app/javascript/controllers/showcase_controller.js
  app/views/errors/forbidden.html.erb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/service_unavailable.html.erb
  app/views/errors/unprocessable_entity.html.erb
  app/views/pages/showcase_test.html.erb
  app/views/shared/_sidebar.html.erb
  app/views/static_pages/about.html.erb
  app/views/static_pages/privacy_policy.html.erb
  app/views/static_pages/terms_of_service.html.erb
  app/views/user/profile.html.erb
  config/breadcrumbs.rb
  config/routes.rb
  test/application_system_test_case.rb
  test/controllers/courses_controller_test.rb
  test/controllers/topics_controller_test.rb
  test/integration/enroll_via_coursecode_test.rb
  test/integration/homescreen_cards_render_test.rb
  test/integration/showcase_test_page_test.rb
  test/integration/update_coursecode_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/controllers/user_controller.rb
  test/integration/showcase_test_page_test.rb
Due: bundle exec rubocop -a

feat: added back the source topic diff and the indicator for Copied Topics (source topics).
  CONTEXT.md
  app/controllers/topics_controller.rb
  app/javascript/controllers/copy_topic_controller.js
  app/views/projects/_compare_versions_tab.html.erb
  app/views/projects/_review_actions.html.erb
  app/views/topics/_compare_versions_tab.html.erb
  app/views/topics/_diff_grid.html.erb
  app/views/topics/_review_actions.html.erb
  app/views/topics/_source_topic_diff.html.erb
  app/views/topics/show.html.erb
  docs/revert_copy_topic.md
  test/controllers/courses_controller_test.rb
  test/controllers/topics_controller_test.rb
  test/system/projects/project_versioning_test.rb
  test/system/topics/copy_topic_dialog_test.rb
  test/system/topics/topic_versioning_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: linter
  app/javascript/controllers/copy_topic_controller.js
  app/views/topics/_compare_versions_tab.html.erb
  app/views/topics/_diff_grid.html.erb
  app/views/topics/_source_topic_diff.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix
