Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

.lintstagedrc.json:

{
    "*.js": [ "npx eslint --fix", "npx prettier --write" ],
    "*.css": [ "npx prettier --write" ],
    "*.rb": [ "bundle exec rubocop -a" ],
    "*.erb": [ "npx @herb-tools/linter --fix" ]
}

change
  app/javascript/controllers/grouping_settings_controller.js
  app/views/courses/_grouping_preview_result.html.erb
  app/views/courses/_grouping_settings.html.erb
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/_group_list.html.erb
  app/views/project_groups/_grouping_closed.html.erb
  app/views/project_groups/_my_group.html.erb
  app/views/project_groups/_no_group.html.erb
  app/views/project_groups/_ungrouped_students.html.erb
  app/views/project_groups/index.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

Stop linter from complaining
  app/views/courses/_grouping_settings.html.erb
  app/views/project_groups/coordinator_actions.html.erb
  app/views/project_groups/index.html.erb
Due: npx @herb-tools/linter --fix

Add autocomplete attribute
  app/views/project_groups/index.html.erb
Due: npx @herb-tools/linter --fix

formatting
  app/controllers/courses_controller.rb
  app/controllers/project_groups_controller.rb
  app/models/course.rb
  app/policies/project_group_policy.rb
  test/factories/project_group_members.rb
  test/factories/project_groups.rb
  test/factories/users.rb
  test/models/course_grouping_settings_test.rb
  test/models/project_group_grouping_test.rb
Due: bundle exec rubocop -a

feat: rewired my current projects and groups/section table section in grouping page
  app/controllers/project_groups_controller.rb
  app/models/course.rb
  app/policies/project_group_policy.rb
  app/views/courses/_course_card.html.erb
  app/views/project_groups/_my_group_panel.html.erb
  app/views/project_groups/index.html.erb
  config/routes.rb
  db/migrate/20260507104009_add_groups_sequence_to_project_groups.rb
  db/schema.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

git corrupted, rebasing previous commits to push
  0001-feat-rewired-my-current-projects-and-groups-section-.patch
Due: none

fix: handle settings to include grouping open
  0001-feat-rewired-my-current-projects-and-groups-section-.patch
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

fix: removed the drop migration
  app/views/project_groups/index.html.erb
  db/migrate/20260502113207_drop_project_group_slots.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

del
  db/migrate/20260502113207_drop_project_group_slots.rb
Due: bundle exec rubocop -a

committing first
  app/javascript/controllers/auto_submit_controller.js
  app/javascript/controllers/dynamic_form_action_controller.js
  app/views/project_groups/coordinator_actions.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

resolve merge conflict
  app/views/project_groups/index.html.erb
Due: npx @herb-tools/linter --fix

Add autocomplete to stop linter from complaining
  app/views/project_groups/index.html.erb
Due: npx @herb-tools/linter --fix

Another autocomplete
  app/views/project_groups/coordinator_actions.html.erb
Due: npx @herb-tools/linter --fix

More merge conflict resolutions
  app/controllers/courses_controller.rb
  app/controllers/project_groups_controller.rb
  app/models/course.rb
  app/policies/project_group_policy.rb
Due: bundle exec rubocop -a

committing
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

feat: Grouping breadcrumb
  app/views/project_groups/coordinator_actions.html.erb
  app/views/project_groups/index.html.erb
  config/breadcrumbs.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

formatting: Add autocomplete
  app/views/project_groups/coordinator_actions.html.erb
Due: npx @herb-tools/linter --fix

Add Grouping warning banner
  app/views/project_groups/coordinator_actions.html.erb
Due: npx @herb-tools/linter --fix

feat: added popup to add student to group for coordinator
  app/javascript/controllers/add_member_popup_controller.js
  app/javascript/controllers/grouping_settings_controller.js
  app/views/project_groups/index.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

fix: supervisor_enrolment only points to lecturer enrollment
  app/controllers/courses_controller.rb
  app/controllers/projects_controller.rb
  db/migrate/20260519083247_backfill_supervisor_enrolments_to_lecturer.rb
Due: bundle exec rubocop -a

feat/migration to backfill all supervisor_enrolment with lecturer enrolment
  db/schema.rb
Due: bundle exec rubocop -a

schema
  db/schema.rb
Due: bundle exec rubocop -a

Committing first
  app/controllers/project_groups_controller.rb
  app/views/courses/_flash.html.erb
  app/views/project_groups/coordinator_actions.html.erb
  config/routes.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: got modal and drop to be working
  app/javascript/controllers/add_member_modal_controller.js
  app/javascript/controllers/add_member_popup_controller.js
  app/views/project_groups/_modal_ungrouped_students.html.erb
  app/views/project_groups/index.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: add back role: :lecturer
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

seeds
  app/views/project_groups/index.html.erb
  db/seeds.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

first draft of coordinator grouping actions
  app/controllers/project_groups_controller.rb
  app/views/courses/_flash.html.erb
  app/views/project_groups/_configuration_panel.html.erb
  app/views/project_groups/_coordinator_actions_grid.html.erb
  app/views/project_groups/coordinator_actions.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: attempting to merge with yingtong's branch
  app/views/project_groups/index.html.erb
  config/routes.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

merged yingtong branch #2, added create new group
  app/controllers/project_groups_controller.rb
  app/javascript/controllers/add_group_modal_controller.js
  app/policies/project_group_policy.rb
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/_group_list.html.erb
  app/views/project_groups/_grouping_closed.html.erb
  app/views/project_groups/_modal_new_group.html.erb
  app/views/project_groups/_modal_ungrouped_students.html.erb
  app/views/project_groups/_my_group.html.erb
  app/views/project_groups/_no_group.html.erb
  app/views/project_groups/_ungrouped_students.html.erb
  app/views/project_groups/index.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

fix: Remove student from group
  app/controllers/project_group_members_controller.rb
  app/views/project_groups/_group_card.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

fix: Add students
  app/controllers/project_group_members_controller.rb
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/index.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Add autocomplete
  app/views/project_groups/index.html.erb
Due: npx @herb-tools/linter --fix

commit to see what linter is complaining about
  app/javascript/controllers/add_group_modal_controller.js
  app/javascript/controllers/add_member_modal_controller.js
  app/javascript/controllers/grouping_settings_controller.js
  app/views/courses/_flash.html.erb
  app/views/project_groups/_modal_new_group.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

fix linter complaints
  app/views/project_groups/_modal_new_group.html.erb
Due: npx @herb-tools/linter --fix

formatting
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

testing out rubocop
  app/views/project_groups/index.html.erb
Due: npx @herb-tools/linter --fix

test: testing out rubocop #2
  app/views/project_groups/_modal_new_group.html.erb
  app/views/project_groups/index.html.erb
Due: npx @herb-tools/linter --fix

test: rubocop test #3
  app/views/project_groups/_modal_new_group.html.erb
Due: npx @herb-tools/linter --fix

reverting rubocop linting and formatting test
  app/views/project_groups/_modal_new_group.html.erb
Due: npx @herb-tools/linter --fix

feat: Add missing grouping configuration options in grouping page
  app/controllers/project_groups_controller.rb
  app/javascript/controllers/grouping_settings_controller.js
  app/views/project_groups/index.html.erb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix
