Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: refactored flash
  app/javascript/controllers/add_group_modal_controller.js
  app/javascript/controllers/add_member_modal_controller.js
  app/javascript/controllers/flash_controller.js
  app/javascript/controllers/group_browse_filter_controller.js
  app/services/repomix-output.xml
  app/views/courses/_flash.html.erb
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/index.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

linter
  app/javascript/controllers/flash_controller.js
  app/javascript/controllers/group_browse_filter_controller.js
  app/views/courses/_flash.html.erb
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/index.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: added mail notifications
  app/controllers/comments_controller.rb
  app/mailers/general_mailer.rb
  app/policies/comment_policy.rb
  app/views/general_mailer/Project_Comment_Notification.html.erb
  app/views/general_mailer/Project_Comment_Notification.text.erb
  test/mailers/previews/general_mailer_preview.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/controllers/comments_controller.rb
  app/policies/comment_policy.rb
  app/views/general_mailer/Project_Comment_Notification.html.erb
  app/views/general_mailer/Project_Comment_Notification.text.erb
  test/mailers/previews/general_mailer_preview.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: changed groupsizelegalitycalculator to groupsizeconfirmabilitycalculator
  app/controllers/courses_controller.rb
  app/controllers/project_groups_controller.rb
  app/models/course.rb
  app/models/project_group.rb
  app/services/group_confirmer.rb
  app/services/group_member_remover.rb
  app/services/queries/group_size_confirmability_calculator.rb
  app/services/queries/group_size_legality_calculator.rb
  test/services/group_size_legality_calculator_test.rb
Due: bundle exec rubocop -a

linter
  app/controllers/courses_controller.rb
  app/controllers/project_groups_controller.rb
  app/models/course.rb
  app/services/group_confirmer.rb
  app/services/group_member_remover.rb
  app/services/queries/group_size_confirmability_calculator.rb
Due: bundle exec rubocop -a

feat: adding validations to grouping
  app/models/course.rb
  app/models/project.rb
  app/models/project_group.rb
Due: bundle exec rubocop -a

linter
  app/models/course.rb
  app/models/project.rb
Due: bundle exec rubocop -a

HUGEEE TEST CASES
  app/controllers/project_groups_controller.rb
  app/mailers/general_mailer.rb
  app/policies/project_group_policy.rb
  app/services/group_direct_requester.rb
  app/services/group_joiner.rb
  config/routes.rb
  test/factories/project_group_invite_links.rb
  test/factories/project_group_invites.rb
  test/models/course_grouping_settings_test.rb
  test/models/project_group_invite_test.rb
  test/models/project_group_student_actions_test.rb
  test/services/group_creator_test.rb
  test/services/group_direct_inviter_test.rb
  test/services/group_direct_requester_test.rb
  test/services/group_invite_link_generator_test.rb
  test/services/group_invite_link_redeemer_test.rb
  test/services/group_invite_responder_test.rb
  test/services/group_joiner_test.rb
  test/services/group_member_adder_test.rb
  test/services/group_size_confirmability_calculator_test.rb
  test/services/group_size_legality_calculator_test.rb
Due: bundle exec rubocop -a

linter
  app/services/group_joiner.rb
  test/factories/project_group_invite_links.rb
  test/models/course_grouping_settings_test.rb
  test/models/project_group_invite_test.rb
  test/services/group_creator_test.rb
  test/services/group_direct_inviter_test.rb
  test/services/group_direct_requester_test.rb
  test/services/group_invite_link_generator_test.rb
  test/services/group_invite_link_redeemer_test.rb
  test/services/group_invite_responder_test.rb
  test/services/group_joiner_test.rb
  test/services/group_member_adder_test.rb
  test/services/group_size_confirmability_calculator_test.rb
Due: bundle exec rubocop -a

finishing up
  app/views/courses/_grouping_settings.html.erb
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/_my_group_panel.html.erb
  app/views/project_groups/index.html.erb
Due: npx @herb-tools/linter --fix

feat: updated auto elibility mode text
  app/views/project_groups/index.html.erb
Due: npx @herb-tools/linter --fix

removed is_staff
  app/controllers/courses_controller.rb
  app/controllers/user_controller.rb
  app/policies/project_policy.rb
  app/views/general_mailer/ProPro_Invite.html.erb
  app/views/general_mailer/ProPro_Invite.text.erb
  app/views/homescreen/show.html.erb
  app/views/projects/show.html.erb
  config/environments/development.rb
  config/environments/production.rb
  config/routes.rb
  db/migrate/20260825155506_remove_is_staff_from_user.rb
  db/schema.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

removed otp
  app/controllers/courses_controller.rb
  app/controllers/user_controller.rb
  app/mailers/general_mailer.rb
  app/views/general_mailer/ProPro_Invite.html.erb
  app/views/user/claim.html.erb
  db/migrate/20260825171130_remove_otp_from_otp.rb
  db/schema.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

added sign up button
  app/views/sessions/new.html.erb
Due: npx @herb-tools/linter --fix

seeds, policy change to allow all users to create course
  app/controllers/courses_controller.rb
  app/controllers/user_controller.rb
  app/policies/course_policy.rb
  app/views/user/claim.html.erb
  db/seeds.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

update tests
  test/factories/topics.rb
  test/factories/users.rb
  test/integration/enroll_via_coursecode_test.rb
  test/models/project_instance_test.rb
  test/models/project_test.rb
  test/models/topic_instance_test.rb
  test/models/topic_test.rb
  test/system/projects/change_status_test.rb
  test/system/projects/project_versioning_test.rb
  test/system/topics/change_status_test.rb
  test/system/topics/topic_versioning_test.rb
Due: bundle exec rubocop -a

feat: started refactoring courses/show
  ProPro Design/course_show.html.erb
  ProPro Design/grouping_settings.html.erb
  ProPro Design/progress_updates.html.erb
  ProPro Design/projects_form.html.erb
  ProPro Design/projects_show.html.erb
  ProPro Design/projects_show_responsive.html.erb
  ProPro Design/projects_version_comparison.html.erb
  ProPro Design/style_guide.html.erb
  app/controllers/courses_controller.rb
  app/helpers/sidebar_helper.rb
  app/javascript/controllers/tabs_controller.js
  app/models/project.rb
  app/views/courses/_coordinator_section.html.erb
  app/views/courses/_lecturer_section.html.erb
  app/views/courses/_people_tab.html.erb
  app/views/courses/_project_details_tab.html.erb
  app/views/courses/_sidebar.html.erb
  app/views/courses/_student_section.html.erb
  app/views/courses/_supervised_projects_tab.html.erb
  app/views/courses/_to_review_tab.html.erb
  app/views/courses/_topic_directory_tab.html.erb
  app/views/courses/show.html.erb
  app/views/layouts/application.html.erb
  app/views/participants/index.html.erb
  app/views/projects/_proposal_list_item.html.erb
  app/views/shared/_header.html.erb
  app/views/shared/_sidebar.html.erb
  app/views/shared/_topbar.html.erb
  app/views/topics/index.html.erb
  config/breadcrumbs.rb
  test/controllers/courses_controller_test.rb
  test/system/courses/course_tabs_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

conditionally show course invite text
  app/controllers/courses_controller.rb
  app/controllers/user_controller.rb
  app/mailers/general_mailer.rb
  app/views/general_mailer/ProPro_Invite.html.erb
  app/views/general_mailer/ProPro_Invite.text.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: fix js issues + auth issues
  app/javascript/controllers/tabs_controller.js
  app/views/courses/show.html.erb
  app/views/projects/_comment.html.erb
  app/views/projects/_comments_panel.html.erb
  app/views/projects/_proposal_list_item.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: fixed courses/show coordinator enrolment bug
  app/javascript/controllers/tabs_controller.js
  app/views/courses/show.html.erb
  app/views/projects/_proposal_list_item.html.erb
  docs/projects_show_refactor_plan.md
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

temp commit for fallback
  app/javascript/controllers/dropdown_controller.js
  app/javascript/controllers/record_update_modal_controller.js
  app/javascript/controllers/version_select_controller.js
  app/models/topic.rb
  app/views/courses/_project_card_contents.html.erb
  app/views/courses/_topic_card_contents.html.erb
  app/views/projects/_comments_panel.html.erb
  app/views/projects/_compare_versions_tab.html.erb
  app/views/projects/_context_header.html.erb
  app/views/projects/_progress_updates.html.erb
  app/views/projects/_project_comments.html.erb
  app/views/projects/_project_details.html.erb
  app/views/projects/_project_fields.html.erb
  app/views/projects/_project_header.html.erb
  app/views/projects/_project_overview.html.erb
  app/views/projects/_record_update_modal.html.erb
  app/views/projects/show.html.erb
  app/views/shared/_sidebar.html.erb
  docs/projects_show_refactor_plan.md
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

removed otp
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

feat: projects/show redesigning
  ProPro Design/projects_show_v2.html.erb
  app/javascript/controllers/dropdown_controller.js
  app/javascript/controllers/record_update_modal_controller.js
  app/javascript/controllers/version_select_controller.js
  app/views/courses/show.html.erb
  app/views/layouts/application.html.erb
  app/views/projects/_compare_versions_tab.html.erb
  app/views/projects/_context_header.html.erb
  app/views/projects/_project_actions.html.erb
  app/views/projects/_project_comments.html.erb
  app/views/projects/_project_details.html.erb
  app/views/projects/_project_header.html.erb
  app/views/projects/_project_overview.html.erb
  app/views/projects/_project_review_card.html.erb
  app/views/projects/_record_update_modal.html.erb
  app/views/projects/edit.html.erb
  app/views/projects/show.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: minor styling fixes for projects/show
  .gitignore
  ProPro Design/style_guide.html.erb
  app/views/projects/_project_comments.html.erb
  app/views/projects/_record_update_modal.html.erb
  app/views/projects/show.html.erb
  docs/projects_forms_refactor_plan.md
Due: npx @herb-tools/linter --fix

linter
  ProPro_Design/course_show.html.erb
  ProPro_Design/grouping_settings.html.erb
  ProPro_Design/progress_updates.html.erb
  ProPro_Design/projects_form.html.erb
  ProPro_Design/projects_show.html.erb
  ProPro_Design/projects_show_responsive.html.erb
  ProPro_Design/projects_show_v2.html.erb
  ProPro_Design/projects_version_comparison.html.erb
  ProPro_Design/style_guide.html.erb
  app/views/projects/edit.html.erb
Due: npx @herb-tools/linter --fix

linter
  ProPro_Design/projects_form.html.erb
  ProPro_Design/settings.html.erb
  ProPro_Design/style_guide.html.erb
Due: npx @herb-tools/linter --fix

feat: added responsiveness to projects/show and selenium headless system tests
  .github/workflows/ci.yml
  CONTEXT.md
  ProPro_Design/course_show.html.erb
  app/javascript/controllers/comments_drawer_controller.js
  app/javascript/controllers/tab_fade_controller.js
  app/views/projects/_project_header.html.erb
  app/views/projects/_review_action_bar.html.erb
  app/views/projects/show.html.erb
  app/views/shared/_header.html.erb
  docs/SERVICE_REFACTOR_CANDIDATES.md
  docs/STUDENT_GROUPING_ARCHITECTURE.md
  docs/STUDENT_GROUPING_CRUD_TASKS.md
  docs/STUDENT_GROUPING_REFERENCE.md
  docs/design_refactor_plan.md
  docs/projects_show_refactor_plan.md
  docs/settings_refactor_plan.md
  test/system/projects/mobile_overflow_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  ProPro_Design/course_show.html.erb
Due: npx @herb-tools/linter --fix

redesigned settings page
  CONTEXT.md
  ProPro_Design/people_tab.html.erb
  ProPro_Design/settings.html.erb
  ProPro_Design/style_guide.html.erb
  app/javascript/controllers/coursecode_form_handler_controller.js
  app/views/courses/_copy_course_overlay.html.erb
  app/views/courses/_course_code_form.html.erb
  app/views/courses/_grouping_settings.html.erb
  app/views/courses/_supervisor_capacity_settings.html.erb
  app/views/courses/settings.html.erb
  app/views/project_templates/edit.html.erb
  docs/adr/0009-sibling-forms-on-course-settings.md
  docs/adr/0010-formless-coursecode-widget.md
  test/system/courses/settings_coursecode_test.rb
  test/system/courses/settings_save_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  .rubocop.yml
  ProPro_Design/people_tab.html.erb
  ProPro_Design/settings.html.erb
  app/javascript/controllers/coursecode_form_handler_controller.js
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

linter
  .herb.yml
  test/system/courses/settings_coursecode_test.rb
  test/system/courses/settings_save_test.rb
Due: bundle exec rubocop -a

temp
  app/views/homescreen/show.html.erb
Due: npx @herb-tools/linter --fix

Added Email Restrictions to course settings
  app/controllers/courses_controller.rb
  app/models/enrolment.rb
  app/views/courses/_course_code_form.html.erb
  app/views/courses/_course_email_domain_restrict_form.html.erb
  app/views/courses/settings.html.erb
  config/routes.rb
  db/migrate/20260829082115_add_email_domain_restriction_to_courses.rb
  db/migrate/20260829082339_change_email_domain_restriction_enabled_in_courses.rb
  db/schema.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

Smol Fix
  db/migrate/20260829082339_change_email_domain_restriction_enabled_in_courses.rb
  db/schema.rb
Due: bundle exec rubocop -a

fix: sidebar styling
  ProPro_Design/groups_tab.html.erb
  ProPro_Design/people_tab.html.erb
  app/views/homescreen/show.html.erb
  app/views/shared/_sidebar.html.erb
  docs/adr/0011-defer-bulk-student-actions.md
  docs/people_tab_refactor_plan.md
Due: npx @herb-tools/linter --fix

feat: redesigned participants table into people's tab and group tab
  app/controllers/courses_controller.rb
  app/controllers/enrolments_controller.rb
  app/controllers/participants_controller.rb
  app/helpers/courses_helper.rb
  app/javascript/controllers/expandable_rows_controller.js
  app/javascript/controllers/modal_controller.js
  app/javascript/controllers/students_select_controller.js
  app/views/courses/_add_students_modal.html.erb
  app/views/courses/_group_row.html.erb
  app/views/courses/_groups_tab.html.erb
  app/views/courses/_groups_table.html.erb
  app/views/courses/_lecturers_section.html.erb
  app/views/courses/_participants.html.erb
  app/views/courses/_participants_table.html.erb
  app/views/courses/_people_tab.html.erb
  app/views/courses/_student_row.html.erb
  app/views/courses/_students_section.html.erb
  app/views/courses/_students_table.html.erb
  app/views/courses/show.html.erb
  app/views/participants/index.html.erb
  config/routes.rb
  db/seeds.rb
  docs/adr/0011-defer-bulk-student-actions.md
  docs/people_tab_refactor_plan.md
  test/controllers/courses_controller_test.rb
  test/controllers/enrolments_controller_test.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/controllers/courses_controller.rb
  app/javascript/controllers/expandable_rows_controller.js
  app/javascript/controllers/modal_controller.js
  app/javascript/controllers/students_select_controller.js
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a

feat: courses_show mockups
  ProPro_Design/SVG/1 SCENE.svg
  ProPro_Design/SVG/1 SCENE.svg:Zone.Identifier
  ProPro_Design/SVG/10 SCENE.svg
  ProPro_Design/SVG/10 SCENE.svg:Zone.Identifier
  ProPro_Design/SVG/2 SCENE.svg
  ProPro_Design/SVG/2 SCENE.svg:Zone.Identifier
  ProPro_Design/SVG/3 SCENE.svg
  ProPro_Design/SVG/3 SCENE.svg:Zone.Identifier
  ProPro_Design/SVG/4 SCENE.svg
  ProPro_Design/SVG/4 SCENE.svg:Zone.Identifier
  ProPro_Design/SVG/5 SCENE.svg
  ProPro_Design/SVG/5 SCENE.svg:Zone.Identifier
  ProPro_Design/SVG/6 SCENE.svg
  ProPro_Design/SVG/6 SCENE.svg:Zone.Identifier
  ProPro_Design/SVG/7 SCENE.svg
  ProPro_Design/SVG/7 SCENE.svg:Zone.Identifier
  ProPro_Design/SVG/8 SCENE.svg
  ProPro_Design/SVG/8 SCENE.svg:Zone.Identifier
  ProPro_Design/SVG/9 SCENE.svg
  ProPro_Design/SVG/9 SCENE.svg:Zone.Identifier
  ProPro_Design/course_show.html.erb
  docs/courses_show_refactor_plan.md
Due: npx @herb-tools/linter --fix

Path conditions:
  npx eslint --fix: any of: *.js
  npx prettier --write: (any of: *.js) or (any of: *.css)
  bundle exec rubocop -a: any of: *.rb
  npx @herb-tools/linter --fix: any of: *.erb
