Repository hackerspacemmu/ProPro: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/views/courses/_flash.html.erb
Due: npx @herb-tools/linter --fix

feat: fixing the stale loading bug in supervisor capacity updater service
  app/services/supervisor_capacity_calculator.rb
  app/services/supervisor_capacity_updater.rb
Due: bundle exec rubocop -a

linter
  app/services/supervisor_capacity_updater.rb
Due: bundle exec rubocop -a

chore: fixing git objects corrupted issues
  app/views/courses/_coordinator_section.html.erb
Due: npx @herb-tools/linter --fix

linting
  app/services/group_size_legality_calculator.rb
Due: bundle exec rubocop -a

feat: removed force_confirm, added migrations for adding tokens to invites & adding timestamp for projectgroups dissolved at
  config/routes.rb
  db/migrate/20260714065220_add_dissolved_at_to_project_groups.rb
  db/migrate/20260714065259_add_token_and_expires_at_to_project_group_invites.rb
  db/schema.rb
Due: bundle exec rubocop -a

feat: added default mode to group size calc and group comfirmer/reverter
  app/models/project_group.rb
  app/services/group_confirmer.rb
  app/services/group_reverter.rb
  app/services/queries/group_size_legality_calculator.rb
  app/services/queries/supervisor_capacity_calculator.rb
  docs/Abstraction/service_classes.md
  docs/STUDENT_GROUPING_ARCHITECTURE.md
  docs/STUDENT_GROUPING_CRUD_TASKS.md
  docs/STUDENT_GROUPING_REFERENCE.md
Due: bundle exec rubocop -a

linter
  app/services/group_confirmer.rb
  app/services/group_reverter.rb
  app/services/queries/group_size_legality_calculator.rb
Due: bundle exec rubocop -a

feat: updated pundit for group confirmer/revert ad added error messages, updated test cases and call sites in controllers to up to date for execute method
  app/controllers/courses_controller.rb
  app/controllers/lecturers_controller.rb
  app/controllers/project_groups_controller.rb
  app/models/project_group.rb
  app/policies/project_group_policy.rb
  app/services/group_confirmer.rb
  app/services/group_reverter.rb
  app/services/queries/group_size_legality_calculator.rb
  app/services/queries/supervisor_capacity_calculator.rb
  app/services/supervisor_capacity_updater.rb
  test/models/project_group_student_actions_test.rb
  test/services/supervisor_capacity_calculator_test.rb
  test/services/supervisor_capacity_updater_test.rb
Due: bundle exec rubocop -a

linter
  app/models/project_group.rb
  app/services/queries/group_size_legality_calculator.rb
  app/services/queries/supervisor_capacity_calculator.rb
Due: bundle exec rubocop -a

fixing remaining test cases
  test/models/project_group_grouping_test.rb
  test/services/group_confirmer_test.rb
  test/services/group_reverter_test.rb
  test/services/group_size_legality_calculator_test.rb
  test/services/supervisor_capacity_calculator_test.rb
Due: bundle exec rubocop -a

feat: added group member remover service
  app/controllers/enrolments_controller.rb
  app/controllers/project_group_members_controller.rb
  app/policies/project_group_member_policy.rb
  app/services/group_member_remover.rb
  docs/Abstraction/service_classes.md
  test/services/group_confirmer_test.rb
  test/services/group_reverter_test.rb
  test/services/group_size_legality_calculator_test.rb
Due: bundle exec rubocop -a

linter
  app/controllers/enrolments_controller.rb
  app/controllers/project_group_members_controller.rb
  app/policies/project_group_member_policy.rb
  app/services/group_member_remover.rb
Due: bundle exec rubocop -a

Update schema
  app/controllers/topics_controller.rb
  db/schema.rb
Due: bundle exec rubocop -a

Fix coruse copy overlay not showing anything
  app/controllers/courses_controller.rb
Due: bundle exec rubocop -a

Don't create new version after approval
  app/controllers/projects_controller.rb
  app/models/project.rb
Due: bundle exec rubocop -a

removing dissolved at timestamp project groups
  app/controllers/project_group_members_controller.rb
  app/javascript/controllers/dissolve_warning_modal_controller.js
  app/services/group_member_remover.rb
  app/views/project_group_members/_dissolve_warning_modal.html.erb
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/_ungrouped_student.html.erb
  app/views/project_groups/index.html.erb
  db/migrate/20260726153230_remove_dissolved_at_from_project_groups.rb
  db/schema.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/controllers/project_group_members_controller.rb
  app/services/group_member_remover.rb
  app/views/project_groups/_ungrouped_student.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

fixing capacity_result in project_controller, making sure it queries enrolments instead of lecturers/coordinators
  app/controllers/projects_controller.rb
Due: bundle exec rubocop -a

feat: added student create groups + student join services
  app/controllers/project_groups_controller.rb
  app/policies/project_group_policy.rb
  app/services/group_creator.rb
  app/services/group_joiner.rb
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/_my_group_panel.html.erb
  app/views/project_groups/index.html.erb
  config/routes.rb
  test/services/group_creator_test.rb
  test/services/group_joiner_test.rb
  test/test_helper.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/controllers/project_groups_controller.rb
  app/services/group_creator.rb
  app/services/group_joiner.rb
  test/services/group_creator_test.rb
  test/services/group_joiner_test.rb
  test/test_helper.rb
Due: bundle exec rubocop -a

feat: added invites/requests
  app/controllers/project_group_invites_controller.rb
  app/controllers/project_groups_controller.rb
  app/mailers/general_mailer.rb
  app/policies/project_group_invite_policy.rb
  app/policies/project_group_policy.rb
  app/services/group_join_request_responder.rb
  app/services/group_join_requester.rb
  app/views/general_mailer/Group_Join_Request_Accepted.html.erb
  app/views/general_mailer/Group_Join_Request_Accepted.text.erb
  app/views/general_mailer/Group_Join_Request_Declined.html.erb
  app/views/general_mailer/Group_Join_Request_Declined.text.erb
  app/views/general_mailer/Group_Join_Request_Notification.html.erb
  app/views/general_mailer/Group_Join_Request_Notification.text.erb
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/_my_group_panel.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/controllers/project_group_invites_controller.rb
  app/policies/project_group_invite_policy.rb
  app/services/group_join_request_responder.rb
  app/services/group_join_requester.rb
  app/views/general_mailer/Group_Join_Request_Accepted.html.erb
  app/views/general_mailer/Group_Join_Request_Accepted.text.erb
  app/views/general_mailer/Group_Join_Request_Declined.html.erb
  app/views/general_mailer/Group_Join_Request_Declined.text.erb
  app/views/general_mailer/Group_Join_Request_Notification.html.erb
  app/views/general_mailer/Group_Join_Request_Notification.text.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

draft of login page
  app/controllers/user_controller.rb
  app/mailers/general_mailer.rb
  app/views/general_mailer/ProPro_Invite.html.erb
  app/views/general_mailer/ProPro_Invite.text.erb
  app/views/user/claim.html.erb
  app/views/user/new.erb
  app/views/user/new_staff.html.erb
  config/routes.rb
  db/schema.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

specified otp shorthand in email
  app/views/general_mailer/ProPro_Invite.html.erb
  app/views/general_mailer/ProPro_Invite.text.erb
Due: npx @herb-tools/linter --fix

sign up and claim works. should probably deal with the username crap
  app/controllers/courses_controller.rb
  app/controllers/user_controller.rb
Due: bundle exec rubocop -a

feat: refactored the project group invites tables
  app/controllers/project_group_invite_links_controller.rb
  app/controllers/project_groups_controller.rb
  app/javascript/controllers/invite_link_controller.js
  app/models/project_group.rb
  app/models/project_group_invite.rb
  app/models/project_group_invite_link.rb
  app/policies/project_group_policy.rb
  app/services/group_invite_link_generator.rb
  app/services/group_join_requester.rb
  app/services/group_member_remover.rb
  app/views/project_group_invite_links/show.rb
  app/views/project_groups/_my_group_panel.html.erb
  config/routes.rb
  db/migrate/20260806113423_reshape_project_group_invites.rb
  db/migrate/20260806113610_create_project_group_invite_links.rb
  db/schema.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/javascript/controllers/invite_link_controller.js
  app/views/project_groups/_my_group_panel.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

fix: added autocomplete field cause linter screaming
  app/views/project_groups/_my_group_panel.html.erb
Due: npx @herb-tools/linter --fix

linter
  app/controllers/project_group_invite_links_controller.rb
  app/controllers/project_groups_controller.rb
  app/models/project_group_invite.rb
  app/models/project_group_invite_link.rb
  app/policies/project_group_policy.rb
  app/services/group_invite_link_generator.rb
  app/services/group_join_requester.rb
Due: bundle exec rubocop -a

linter
  app/channels/application_cable/connection.rb
  app/controllers/courses_controller.rb
  app/controllers/passwords_controller.rb
  app/controllers/progress_updates_controller.rb
  app/controllers/project_templates_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/topics_controller.rb
  app/controllers/user_controller.rb
  app/helpers/projects_helper.rb
  app/models/project.rb
  app/models/project_instance.rb
  app/models/project_template_field.rb
  app/policies/course_policy.rb
  app/policies/project_group_policy.rb
  app/services/supervisor_capacity_updater.rb
  app/views/project_group_invite_links/show.erb
  bin/bundle
  bin/dev
  bin/setup
  test/factories/courses.rb
  test/factories/project_templates.rb
  test/models/project_group_student_actions_test.rb
  test/services/group_creator_test.rb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/views/project_group_invite_links/show.erb
Due: npx @herb-tools/linter --fix

feat: replace redcarpet with commonmarker and added fullscreen button for all textareas
  Gemfile
  Gemfile.lock
  app/helpers/markdown_helper.rb
  app/javascript/controllers/field_expand_modal_controller.js
  app/javascript/controllers/markdown_editor_controller.js
  app/views/projects/_project_details.html.erb
  config/importmap.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/javascript/controllers/field_expand_modal_controller.js
  app/javascript/controllers/markdown_editor_controller.js
  app/views/projects/_project_details.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: finished group invite links redeem
  app/controllers/project_group_invite_links_controller.rb
  app/controllers/project_group_invites_controller.rb
  app/controllers/project_groups_controller.rb
  app/helpers/markdown_helper.rb
  app/javascript/controllers/direct_invite_modal_controller.js
  app/mailers/general_mailer.rb
  app/models/project_group.rb
  app/models/project_group_invite.rb
  app/policies/course_policy.rb
  app/policies/project_group_invite_link_policy.rb
  app/policies/project_group_invite_policy.rb
  app/policies/project_group_policy.rb
  app/services/group_direct_inviter.rb
  app/services/group_direct_requester.rb
  app/services/group_invite_link_generator.rb
  app/services/group_invite_link_redeemer.rb
  app/services/group_invite_responder.rb
  app/services/group_join_request_responder.rb
  app/services/group_member_remover.rb
  app/services/repomix-output.xml
  app/views/general_mailer/Group_Join_Request_Notification.text.erb
  app/views/general_mailer/group_direct_invite_accepted.html.erb
  app/views/general_mailer/group_direct_invite_accepted.text.erb
  app/views/general_mailer/group_direct_invite_declined.html.erb
  app/views/general_mailer/group_direct_invite_declined.text.erb
  app/views/general_mailer/group_direct_invite_notification.html.erb
  app/views/general_mailer/group_direct_invite_notification.text.erb
  app/views/general_mailer/group_direct_request_accepted.text.erb
  app/views/general_mailer/group_direct_request_declined.text.erb
  app/views/general_mailer/group_direct_request_notification.html.erb
  app/views/general_mailer/group_direct_request_notification.text.erb
  app/views/project_group_invite_links/show.erb
  app/views/project_group_invite_links/show.html.erb
  app/views/project_groups/_my_group_panel.html.erb
  app/views/project_groups/_ungrouped_student.html.erb
  app/views/project_groups/index.html.erb
  config/routes.rb
  db/migrate/20260811072831_fix_direct_invite_sender_unique_index.rb
  db/schema.rb
  db/seeds.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/javascript/controllers/direct_invite_modal_controller.js
Due: npx eslint --fix, npx prettier --write

linter
  app/controllers/project_group_invite_links_controller.rb
  app/controllers/project_group_invites_controller.rb
  app/models/project_group_invite.rb
  app/policies/course_policy.rb
  app/policies/project_group_invite_link_policy.rb
  app/policies/project_group_invite_policy.rb
  app/services/group_direct_inviter.rb
  app/services/group_direct_requester.rb
  app/services/group_invite_link_redeemer.rb
  app/services/group_invite_responder.rb
  app/services/group_member_remover.rb
  app/views/general_mailer/group_direct_invite_accepted.html.erb
  app/views/general_mailer/group_direct_invite_accepted.text.erb
  app/views/general_mailer/group_direct_invite_declined.html.erb
  app/views/general_mailer/group_direct_invite_declined.text.erb
  app/views/general_mailer/group_direct_invite_notification.html.erb
  app/views/general_mailer/group_direct_invite_notification.text.erb
  app/views/general_mailer/group_direct_request_accepted.text.erb
  app/views/general_mailer/group_direct_request_declined.text.erb
  app/views/general_mailer/group_direct_request_notification.html.erb
  app/views/general_mailer/group_direct_request_notification.text.erb
  app/views/project_group_invite_links/show.html.erb
  app/views/project_groups/_my_group_panel.html.erb
  app/views/project_groups/_ungrouped_student.html.erb
Due: bundle exec rubocop -a, npx @herb-tools/linter --fix

feat: styling
  app/controllers/project_group_members_controller.rb
  app/javascript/controllers/combobox_modal_controller.js
  app/javascript/controllers/direct_invite_modal_controller.js
  app/policies/course_policy.rb
  app/policies/project_group_member_policy.rb
  app/policies/project_group_policy.rb
  app/services/group_direct_inviter.rb
  app/services/group_direct_requester.rb
  app/services/group_member_adder.rb
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/_modal_new_group.html.erb
  app/views/project_groups/_modal_ungrouped_students.html.erb
  app/views/project_groups/_my_group_panel.html.erb
  app/views/project_groups/_ungrouped_student.html.erb
  app/views/project_groups/index.html.erb
  db/migrate/20260811102449_add_lecturers_can_manage_groups_to_courses.rb
  db/schema.rb
  db/seeds.rb
Due: npx eslint --fix, npx prettier --write, bundle exec rubocop -a, npx @herb-tools/linter --fix

linter
  app/javascript/controllers/combobox_modal_controller.js
  app/views/project_groups/_group_card.html.erb
  app/views/project_groups/_my_group_panel.html.erb
  app/views/project_groups/_ungrouped_student.html.erb
  app/views/project_groups/index.html.erb
Due: npx eslint --fix, npx prettier --write, npx @herb-tools/linter --fix

feat: added new seeds and fixed a few style bugs
  app/controllers/project_group_members_controller.rb
  app/policies/project_group_policy.rb
  app/services/group_member_adder.rb
Due: bundle exec rubocop -a

Path conditions:
  npx eslint --fix: any of: *.js
  npx prettier --write: (any of: *.js) or (any of: *.css)
  bundle exec rubocop -a: any of: *.rb
  npx @herb-tools/linter --fix: any of: *.erb
